{% extends 'core_main.html' %}
{% block title %}變更密碼{{ block.super }}{% endblock %}
{% block content %}
{% if form.errors %}
<div class="radius alert alert-box" data-alert>
	新密碼不一致，請重新輸入。
	<a href="#" class="close">&times;</a>
</div>
{% endif %}
<div class="row">
	<div class="large-6 small-9 small-centered columns">
		<div class="login-panel">
			<h3>變更密碼</h3>
			<form class="users-login" action="{{ request.get_path }}" method="POST">
			{% csrf_token %}
				<div class="row"><div class="large-12 columns">
					<label for="new_password1">新密碼</label>
					<input type="password" id="new_password1" name="new_password1" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<label for="new_password2">再次輸入密碼</label>
					<input type="password" id="new_password2" name="new_password2" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<input type="submit" name="submit" value="變更密碼" class="right secondary radius button" />
				</div></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}