{% extends 'core_main.html' %}
{% load users %}
{% block title %}人員{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-9 columns">
		<ul class="user-list">
		{% for u in users %}
			<li class="user-item">
				<h4>
					<img class="avatar medium" src="{{ u.email|get_avatar:'#' }}" alt="{{ u|get_name }}" />
					<a href="{% url 'users:profile' u.id %}">{{ u|get_name }}</a>
					<span class="title">{{ u.profile.title }}</span>
				</h4>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="large-3 columns main-side-nav">
		<ul class="side-nav users-actions">
			<li><a href="#"><span class="icon-add iconize"></span> 新增人員</a></li>
			<li><a href="#"><span class="icon-email iconize"></span> 寄送通知</a></li>
			<li><a href="{% url 'users:profile' user.id %}"><span class="icon-profile iconize"></span> 編輯個人檔案</a></li>
		</ul>
		<div class="divider"></div>
		<h5>篩選組別</h5>
		<ul class="side-nav">
		{% for g in groups %}
			<li><a href="#">{{ g.name }}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}