{% extends 'core_main.html' %}
{% block title %}重設密碼{{ block.super }}{% endblock %}
{% block content %}
{% if success %}
<div class="radius secondary alert-box" data-alert>
	已將密碼重設資訊寄至您的信箱。
	<a href="#" class="close">&times;</a>
</div>
{% elif form.errors %}
<div class="radius alert alert-box" data-alert>
	{% if 'Invalid email' in form.errors.email %}電子郵件地址不正確。
	{% else %}此帳號無法重設密碼，請聯繫行政組以取得協助。{% endif %}
	<a href="#" class="close">&times;</a>
</div>
{% endif %}
<div class="row">
	<div class="large-6 small-9 small-centered columns">
		<div class="login-panel">
			<h3>重設密碼</h3>
			<form class="users-login" action="{% url 'users:reset_password' %}" method="POST">
			{% csrf_token %}
				<div class="row"><div class="large-12 columns">
					<label for="email">電子郵件地址</label>
					<input type="password" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<input type="submit" name="submit" value="重設密碼" class="right secondary radius button" />
				</div></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}