{% extends 'core_main.html' %}
{% load users %}
{% block title %}{{ u|get_name }}{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-3 columns">
		<img class="avatar large" src="{{ u.email|get_avatar:400 }}" alt="{{ u|get_name }}" />
		<h4>{{ u|get_name }}</h4>
		<h5 class="subheader">{{ u.profile.title }}</h5>
		<ul class="profile_meta">
			{% if u.profile.school %}<li><span class="icon-school iconize"></span> {{ u.profile.school }} {{ u.profile.grade }}</li>{% endif %}
			{% if u.profile.phone %}<li><span class="icon-phone iconize"></span> {{ u.profile.phone }}</li>{% endif %}
		</ul>
		<div class="profile_actions">
			<a href="{% url 'users:edit_profile' u.id %}" class="small secondary radius button">編輯</a>
		</div>
	</div>
	<div class="large-5 columns">
		<h5><a href="{% url 'issues:assigned' u.id %}">待辦事項</a></h5>
		<hr/>
		<ul class="issue-list">
		</ul>
	</div>
	<div class="large-4 columns">
		<h5>參加的聚會</h5>
		<hr/>
		<p></p>
	</div>
</div>
{% endblock %}