{% extends 'core_main.html' %}
{% block title %}變更密碼{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-6 small-9 small-centered columns">
		<div class="login-panel">
			<h3>變更密碼</h3>
			<form class="users-login" action="{% url 'users:login' %}" method="POST">
			{% csrf_token %}
				<div class="row"><div class="large-12 columns">
					<label for="old_password">目前密碼</label>
					<input type="password" id="old_password" name="old_password" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<label for="new_password">新密碼</label>
					<input type="password" id="new_password" name="new_password" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<label for="verify_password">再次輸入密碼</label>
					<input type="password" id="verify_password" name="verify_password" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<input type="submit" name="submit" value="變更密碼" class="right secondary radius button" />
				</div></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}