{% extends 'core_main.html' %}
{% load usermeta %}
{% block title %}通訊錄 ‧ 人員{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-9 columns">
		<h3>SITCON 工作人員通訊錄</h3>
		<table class="user-contacts main">
			<thead><tr>
				<th>職稱</th>
				<th>名稱</th>
				{% if show_details %}<th>電話</th>{% endif %}
				<th>Email</th>
			</tr></thead>
			<tbody>
			{% for u in users %}
			<tr>
				<td>{{ u.profile.title }}</td>
				<td>
					<img class="avatar small" src="{{ u.email|get_avatar:'#' }}" alt="{{ u|get_name }}" />
					{{ u|get_name }}
				</td>
				{% if show_details %}<td>{{ u.profile.phone }}</td>{% endif %}
				<td>{{ u.email }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="large-3 columns main-side-nav">
		<ul class="side-nav users-actions">
			{% if perms.auth.add_user %}<li><a href="{% url 'users:create' %}"><span class="icon-add iconize"></span> 新增人員</a></li>{% endif %}
			<li><a href="{% url 'users:edit' user.id %}"><span class="icon-profile iconize"></span> 編輯個人檔案</a></li>
			<li><a href="{% url 'users:contacts' %}"><span class="icon-contacts iconize"></span> 檢視通訊錄</a></li>
		</ul>
	</div>
</div>
{% endblock %}