Django==1.9.4
dj-database-url==0.4.0
markdown==2.6.5
bleach==1.4.2
mdx_del_ins==1.0
mdx_linkify==0.6
pytz==2016.1
djangorestframework==3.3.3
Wand==0.4.2
Pillow==3.1.0
django-imagekit==3.3
django-oauth-toolkit==0.10.0
django-cors-headers==1.1.0
