{% extends 'core/master.html' %}
{% block title %}新增投稿{{ block.super }}{% endblock %}
{% block content %}
<form action="{% url 'submission:create' %}" method="POST" enctype="multipart/form-data" class="submission-main">
<div class="row">
    <div class="large-1 avatars columns">
        <a class="right iconize icon-back has-tip" href="{% url 'submission:list' %}" title="回到投稿列表" data-tooltip></a>
    </div>
    <div class="large-8 columns">
        {% csrf_token %}
            <div class="row collapse">
                <h4>投稿者 {{ user.profile.display_name }} <small><em>如欲修改請至右上角「帳號設定」修改「顯示名稱」</em></small></h4>
            </div>
            <div class="row collapse">
				<h4>標題 <small><em id="title-text-count"></em></small></h4>
                <div class="small-12 columns">
                    <input type="text" name="title" placeholder="講題" maxlength="40" value="{{ submission.title.value }}" required />
                </div>
				<h4>摘要 <small><em id="abstract-text-count"></em></small></h4>
                <div class="small-12 columns">
                    <textarea name="abstract" placeholder="摘要" maxlength="500" required>{{ submission.abstract.value }}</textarea>
                </div>
				<hr/>
				<p>以下資料為選填，但強烈建議您填寫，讓審稿委員更瞭解您的稿件，以增加入選機率</p>
                <h4>詳細說明 <small>選填，不公開，僅供議程組審稿參考</small></h4>
                <div class="small-12 columns">
                    <textarea name="details" placeholder="詳細說明">{{ submission.details.value }}</textarea>
                </div>
				<h4>附加檔案 <small><em>詳細說明</em>的補充資料</small></h4>
                <div class="small-12 columns">
                    <input type="file" name="slide" multiple />
                </div>
            </div>
            <div class="row">
                <div class="button-row">
                    <div class="right">
                        <input type="submit" class="radius button" name="submit" value="儲存" />
                    </div>
                </div>
            </div>
            {% autoescape off %}
            <div class="row collapse">
                <h4>投稿須知</h4>
                <p>{{ rule }}</p>
            </div>
            {% endautoescape %}
        </form>
    </div>
    <div class="large-3 columns main-side-nav">
        <div class="row">
            <div>
                <h4>投稿類型</h4>
                <label for="type_S"><input type="radio" name="type" value="S" id="type_S" /><span>Short Talk</span></label>
                <label for="type_L"><input type="radio" name="type" value="L" id="type_L" checked /><span>Talk</span></label>
            </div>
        </div>
        <div class="row">
            <div>
                <h4>大頭照</h4>
				<img src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{{ user.profile.avatar }}{% endif %}" title="請至右上角的帳號設定更換您的大頭照" data-tooltip />
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	function countchar( input, msg, atleast, atmost) {
		var fullcnt=0;
		var halfcnt=0;
		for (var i = 0, len = input.val().length; i < len; i++) {
		if ( input.val()[i].match(/[\u3000-\u303f\u3040-\u309f\u30a0-\u30ff\uff00-\uff9f\u4e00-\u9faf\u3400-\u4dbf]/) ) {
		fullcnt++;
		} else {
		halfcnt++;
		}
		}
		msg.text(atleast+" ≤半形✕ 0.5＋全形≤"+atmost+"，目前半形 = "+halfcnt+" ,全形 = "+fullcnt);
		if ( atleast <= halfcnt/2 + fullcnt && halfcnt/2 + fullcnt <= atmost ) {
			input.removeClass("error");
		} else {
			input.addClass("error");
		}
	}
	countchar($('input[name="title"]'), $('#title-text-count'), 1, 15);
	countchar($('textarea[name="abstract"]'), $('#abstract-text-count'), 150, 250);
	$('input[name="title"]').on('keyup', function() {
		countchar($('input[name="title"]'), $('#title-text-count'), 1, 15);
	});
	$('textarea[name="abstract"]').on('keyup', function() {
		countchar($('textarea[name="abstract"]'), $('#abstract-text-count'), 150, 250);
	});
});
</script>
{% endblock %}
