{% extends 'core/master.html' %}
{% block title %}投稿{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-9 columns">
        <div>
        {% with c=submissions.count %}
        {% if c > 0 %}
            <h3><small>共 {{ submissions.count }} 篇投稿</small></h3>
            <table class="submissions-list main">
                <thead>
					<tr><th>標題</th><th>類型</th><th>投稿者</th><th>狀態</th><th>動作</th></tr>
                </thead>
                <tbody>
                {% for s in submissions %}
                    <tr>
						<td><a href="{% url 'submission:view' s.id %}">{{ s.title }}</a></td>
						<td>{% if s.type == s.LONG %}Talk{% elif s.type == s.SHORT %}Short talk{% endif %}</td>
						<td><a href="{% url 'users:profile' s.user.username %}">{{ s.user.profile.display_name }}</a></td>
                        <td>{% if s.status == 'A' %}噫！中了！
							{% elif s.status == 'R' %}沒上QQ
							{% elif s.status == 'P' %}待審查
							{% elif s.status == 'V' %}審查中
							{# TODO: use l18n to show messages #}
							{% endif %}</td>
                        <td>
							{% if s.user == user and not expired %}
							<a href="{% url 'submission:edit' s.id %}">編輯</a> <a class="delete" data-submission-id="{{ s.id }}">刪除</a>
							{% else %}
							<a href="{% url 'submission:view' s.id %}">檢視</a>
							{% endif %}
						</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3><small>還沒有任何投稿</small></h3>
        {% endif %}
        {% endwith %}
        </div>
    </div>
    <div class="large-3 columns main-side-nav">
		{% if expired == True %}
		<h4>投稿已經截止，<br/>請等待審查</h4>
		{% else %}
		<h4>投稿截止時間：<br/>{{ submission_end }}</h4>
        <ul class="side-nav users-actions">
            <li><a href="{% url 'submission:create' %}"><span class="icon-email iconize"></span> 新增投稿</a></li>

            {% if submission_review %}
            <li><a href="{% url 'submission:score' %}"><span class="icon-star iconize"></span> 幫我打分數 &gt; &lt;</a></li>
            {% endif %}
        </ul>
		{% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(".delete").on("click", function () {
    Roboconf.post("{% url 'submission:delete' %}", {"submission_id": this.dataset['submissionId']});
});
</script>
{% endblock %}
