{% extends 'core/master.html' %}
{% block title %}投稿 - 評分{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-9 columns">
        <div>
        {% with c=submissions.count %}
        {% if c > 0 %}
            <h3><small>共 {{ submissions.count }} 篇投稿</small></h3>
            <table class="submissions-list main">
                <thead>
					<tr>
                        <th rowspan="2">標題</th>
                        <th rowspan="2">類型</th>
                        <th rowspan="2">投稿者</th>
                        <th rowspan="2">狀態</th>
                        <th rowspan="1" colspan="4">評分</th>
                        <th rowspan="2">動作</th>
                    </tr>
                    <tr>
                        <th rowspan="1" colspan="1">適合聽眾</th>
                        <th rowspan="1" colspan="1">酷炫</th>
                        <th rowspan="1" colspan="1">表達能力</th>
                        <th rowspan="1" colspan="1">難度</th>
                    </tr>
                    <tr>
                        <th class="hide" colspan="0">投稿資訊</th>
                    </tr>
                </thead>
                <tbody>
				{% with sorted_submissions=submissions|dictsort:"type" %}
                {% for s in sorted_submissions %}
                    <tr>
                        <td>+ {{ s.title }}</td>
						<td>{% if s.type == s.LONG %}Talk{% elif s.type == s.SHORT %}Short talk{% endif %}</td>
						<td><a href="{% url 'users:profile' s.user.username %}">{{ s.user.profile.display_name }}</a></td>
                        <td>{% if s.status == s.ACCEPTED %}噫！中了！{% else %}審查中{% endif %}</td>

                        <!-- Todo : move the style into scss file -->
                        <td><input type="number" min="0" max="10" style="max-width: 60px;"></td>
                        <td><input type="number" min="0" max="10" style="max-width: 60px;"></td>
                        <td><input type="number" min="0" max="10" style="max-width: 60px;"></td>
                        <td><input type="number" min="0" max="10" style="max-width: 60px;"></td>
                        <td>儲存</td>
                    </tr>
                    <tr class="hide" id="{{ s.id }}-tr">
                        <td colspan="0">
                            <div id="{{ s.id }}"></div>
                        </td>
                    </tr>
                {% endfor %}
				{% endwith %}
                </tbody>
            </table>
        {% else %}
            <h3><small>還沒有任何投稿</small></h3>
        {% endif %}
        {% endwith %}
        </div>
    </div>
    <div class="large-3 columns main-side-nav">
		{% if expired == True %}
		<h4>投稿已經截止，<br/>請等待審查</h4>
		{% else %}
		<h4>投稿截止時間：<br/>{{ submission_end }}</h4>
        <ul class="side-nav users-actions">
            <li><a href="{% url 'submission:create' %}"><span class="icon-email iconize"></span> 新增投稿</a></li>

            {% if submission_review %}
            <li><a href="{% url 'submission:score' %}"><span class="icon-star iconize"></span> 幫我打分數 &gt; &lt;</a></li>
            {% endif %}
        </ul>
		{% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(".delete").on("click", function () {
    Roboconf.post("{% url 'submission:delete' %}", {"submission_id": this.dataset['submissionId']});
});
</script>
{% endblock %}
