{% extends 'core/master.html' %}
{% block title %}投稿 - 評分{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
        <div>
        {% with c=submissions_total %}
        {% if c > 0 %}
            <h3><small>共 {{ submissions_total }} 篇投稿</small></h3>
            <table class="submissions-list main">
                <thead>
					<tr>
                        <th rowspan="2">標題</th>
                        <th rowspan="2">類型</th>
                        <th rowspan="2">投稿者</th>
                        <th rowspan="2">狀態</th>
                        <th rowspan="1" colspan="4">評分</th>
                        <th rowspan="2">動作</th>
                    </tr>
                    <tr>
                        <th rowspan="1" colspan="1">適合聽眾</th>
                        <th rowspan="1" colspan="1">酷炫</th>
                        <th rowspan="1" colspan="1">表達能力</th>
                        <th rowspan="1" colspan="1">難度</th>
                    </tr>
                    <tr>
                        <th class="hide" colspan="0">投稿資訊</th>
                    </tr>
                </thead>
                <tbody>
                {% for s, score in submissions %}
                    <tr>
                        <td>
                            <a class="submission-detail" data-status="close" data-template="{% url 'submission:view_partial' s.id %}" id="{{ s.id }}">＋</a> {{ s.title }}
                        </td>
						<td>{% if s.type == s.LONG %}Talk{% elif s.type == s.SHORT %}Short talk{% endif %}</td>
						<td><a href="{% url 'users:profile' s.user.username %}">{{ s.user.profile.display_name }}</a></td>
                        <td>{% if s.status == 'A' %}噫！中了！
							{% elif s.status == 'R' %}沒上QQ
							{% elif s.status == 'P' %}待審查
							{% elif s.status == 'V' %}審查中
							{% elif s.status == 'E' %}待修正
							{# TODO: use l18n to show messages #}
							{% endif %}</td>

                        <!-- Todo : move the style into scss file -->
                        <td>
                            <input id="submission-{{ s.id }}-audience"
                                   type="number"
                                   min="0"
                                   max="10"
                                   value="{% if score.audience %}{{ score.audience }}{% else %}0{% endif %}"
                                   style="max-width: 60px;">
                        </td>
                        <td>
                            <input id="submission-{{ s.id }}-cool"
                                   type="number"
                                   min="0"
                                   max="10"
                                   value="{% if score.cool %}{{ score.cool }}{% else %}0{% endif %}"
                                   style="max-width: 60px;">
                        </td>
                        <td>
                            <input id="submission-{{ s.id }}-expression"
                                   type="number"
                                   min="0"
                                   max="10"
                                   value="{% if score.expression %}{{ score.expression }}{% else %}0{% endif %}"
                                   style="max-width: 60px;">
                        </td>
                        <td>
                            <input id="submission-{{ s.id }}-difficulty"
                                   type="number"
                                   min="0"
                                   max="10"
                                   value="{% if score.difficulty %}{{ score.difficulty }}{% else %}0{% endif %}"
                                   style="max-width: 60px;">
                        </td>
                        <td><a class="score-save" data-id="{{ s.id }}">儲存</a></td>
                    </tr>
                    <tr class="hide" id="submission-{{ s.id }}-tr">
                        <td colspan="0">
                            <div id="submission-{{ s.id }}"></div>
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td>
                            <a id="save-all" class="small radius button">儲存全部</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <h3><small>還沒有任何投稿</small></h3>
        {% endif %}
        {% endwith %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(".score-save").on("click", function () {
    var id = this.dataset.id;
	var clicked_object = $(this);

    var audience    = "#submission-" + id + "-audience";
    var cool        = "#submission-" + id + "-cool";
    var expression  = "#submission-" + id + "-expression";
    var difficulty  = "#submission-" + id + "-difficulty";

    var args = {
            "submission": id,
            "audience": $(audience)[0].value,
            "cool": $(cool)[0].value,
            "expression": $(expression)[0].value,
            "difficulty": $(difficulty)[0].value,
        };
    args = JSON.stringify(args);
    args = {"data": args};

    $.post("{% url 'submission:score_save' %}", args, function (data) {
		clicked_object.text("✓ 已儲存");
		setTimeout(function() {
			clicked_object.text("儲存");
		}, 700);
    });
});

$(".submission-detail").on("click", function () {
    var target = "#submission-" + this.id;
    var node = target + "-tr";
    var template = this.dataset.template;

    if (this.dataset.status == "close") {

        if (! this.dataset.loaded) {
            $(target).load(template);
            this.dataset.loaded = 1;
        }

        $(node)[0].classList.remove("hide");

        this.dataset.status = "open";
        this.textContent = "－";

    } else {

        $(node)[0].classList.add("hide");

        this.dataset.status = "close";
        this.textContent = "＋";
    }
});

$("#save-all").on("click", function () {
    $('.score-save').forEach(
        function(i){
            var clicked_object = $(i);
            id = i.getAttribute('data-id');
            var audience = "#submission-" + id + "-audience";
            var cool = "#submission-" + id + "-cool";
            var expression = "#submission-" + id + "-expression";
            var difficulty = "#submission-" + id + "-difficulty";
            var args = {
            "submission": id,
            "audience": $(audience)[0].value,
            "cool": $(cool)[0].value,
            "expression": $(expression)[0].value,
            "difficulty": $(difficulty)[0].value,
            };
            args = JSON.stringify(args);
            args = {"data": args};
            $.post("/submission/score/save", args, function (data) {
                clicked_object.text("✓ 已儲存");
                setTimeout(function() {
                    clicked_object.text("儲存");
                }, 700);
            });
        }
    );
});

</script>
{% endblock %}
