@font-face {
	font-family: 'IcoMoon';
	src:url('../font/IcoMoon.eot');
	src:url('../font/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('../font/IcoMoon.woff') format('woff'),
		url('../font/IcoMoon.ttf') format('truetype'),
		url('../font/IcoMoon.svg#IcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.iconize {
	font-family: 'IcoMoon' !important;
	speak: none;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-back:before { content: '\21a9'; }
.icon-issue-open:before { content: '\2191'; color: #3f3; }
.icon-issue-expired:before { content: '\ff01'; color: #f33; }
.icon-issue-closed:before { content: '\2193'; color: #666; }
.icon-archive:before { content: '\5c01'; }
.icon-user:before { content: '\4eba'; }
.icon-tag:before { content: '\6a19'; }
.icon-tags:before { content: '\7c64'; }
.icon-clock:before { content: '\6642'; }
.icon-check:before { content: '\2705'; }
.icon-add:before { content: '\002b'; }
.icon-email:before { content: '\4fe1'; }
.icon-profile:before { content: '\4eba'; }
.icon-contacts:before { content: '\7c3f'; }
.icon-star:before { content: '\2606'; }
.icon-unstar:before { content: '\2605'; }
.icon-edit:before { content: '\8a2d'; }
.icon-delete:before { content: '\68c4'; }
.icon-school:before { content: '\5bb6'; }
.icon-phone:before { content: '\260e'; }
.icon-folder:before { content: '\9589'; }
.icon-share:before { content: '\4eab'; }
.icon-move:before { content: '\21aa'; }
.icon-info:before { content: '\8a2d'; }
.icon-file:before { content: '\6587'; }
.icon-new:before { content: '\65b0'; }
.icon-upload:before { content: '\9644'; }
.icon-link:before { content: '\93c8'; }
.button .iconize { font-size: 16px; vertical-align: middle; }
.issue-meta .action-button .iconize { font-size: 14px; }
.treeview .folder:before { content: '\9589'; color: #555; font-family: 'IcoMoon'; speak: none; font-size: 16px; font-weight: normal; padding-right: 4px; }
.treeview .folder.active:before { content: '\958b'; }
form.custom .assignee-field .custom.dropdown .current:before { content: '\4eba'; font-family: 'IcoMoon'; speak: none; font-weight: normal; padding-right: 0.5em; }
