body { padding-top: 2.8125em; /* JavaScript will override this */ }
img.logo { width: 80px; height: auto; }
img.avatar { border-radius: 3px; }
img.avatar.small { width: 1.6em; height: 1.6em; }
img.avatar.medium { max-width: 3.2em; max-height: 3.2em; }
img.avatar.large { border-radius: 6px; }
ul, ol { list-style-position: inside; }
h5.section-header { border-bottom: 1px #ddd solid; padding-bottom: 0.3em; }
table.main { width: 100%; }
.top-bar-section img.avatar { margin: auto 0.25em; }
.page-content { margin: 1.875em auto; }
.button span { font-weight: lighter; }
.button.secondary.active { background-color: #ddd; }
.button.secondary.active:hover, .button.secondary.active:focus { background-color: #d0d0d0; }
.button-row>.left>*, .button-row>.right>* { margin: auto 0.25em; float: left; }
.button-row>.left>*:first-child { margin-left: 0em; }
.button-row>.right>*:last-child { margin-right: 0em; }
.f-dropdown li { line-height: 166.66%; }
.f-dropdown h6 { line-height: 1; font-size: 0.875em; }
ul.f-dropdown h6 { line-height: 2; margin: 0; padding: 0.125em 0.5em; color: #555; }
.f-dropdown input { margin: 0 0.5em 0 0; }
.f-dropdown label { font-size: 1em; }
.f-dropdown.with-ticks label { padding: 0.3125em 0.625em; }
.main-side-nav>.side-nav, h5+.side-nav { padding: 0; }
.main-side-nav .divider, .page-side-nav .divider { border: solid #ddd; border-width: 1px 0 0; margin: 0.5em auto 0.75em; }
.side-nav.filter { line-height: 225%; }
.side-nav>li { transition: background-color 0.2s ease; padding: 0 0.5em; border-radius: 3px; }
.side-nav>li:hover, .side-nav>li:focus { background-color: #eee; }
.label-item .color { display: inline-block; width: 1em; height: 1em; vertical-align: middle; border-radius: 3px; }
.issue-list { color: #333; font-size: 0.6em; list-style: none; }
.issue-list>li { border: solid #e5e5e5; border-width: 0 1px 1px 1px; padding: 0.25em 0.5em; }
.issue-list>li:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; border-top-width: 1px; }
.issue-list>li:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.issue-list .issue-actions, .issue-main .issue-actions { background: #f6f6f6; }
.issue-list .issue-actions .button { margin: 0 0.1em 0 0; }
.issue-list .issue-entry { padding: 0.25em 1em 0.75em 3em; color: #666; position: relative; }
.issue-list.allow-edit .issue-entry { padding-left: 4.5em; }
.issue-list .issue-entry:hover, .issue-list .issue-entry:focus { background-color: #f9f9f9; }
.issue-list .issue-entry.selected { background-color: #f0f0f0; }
.issue-list .issue-entry.selected:hover, .issue-list .issue-entry.selected:focus { background-color: #e9e9e9; }
.issue-list .issue-id { float: right; color: #aaa; }
.issue-list .issue-assignee { float: right; margin: 0.2em; }
.issue-list .issue-select-control { position: absolute; top: 0.75em; left: 0.75em; }
.issue-list h4 { font-size: 166.66%; margin: 0.2em auto; }
.issue-list .issue-icon { float: left; margin: 0.25em auto auto -1.5em; }
.issue-entry .label { zoom: 80%; line-height: 1.2; }
.issue-main { padding: 1em; border: 1px solid #e5e5e5; border-radius: 3px; }
.user-list { color: #666; }
.user-list>li { text-align: center; }
.user-list .avatar { margin-bottom: 0.5em; }
.user-list h4 { font-size: 1em; margin: auto; }
.user-list h4.subheader { font-size: 0.8em; }
.placeholder-message {
	position: relative; height: 5em;
	background: #f5f5f5; color: #999;
	border-radius: 3px;
	span {
		display: block; position: absolute;
		top: 2em; text-align: center;
	}
}
form textarea { transition: height 0.2s,box-shadow 0.45s,border-color 0.45s ease-in-out; }
form .issue-main { background: #f6f6f6; }
form.issue-edit>*>.columns, form.issue-edit .form-main { margin-bottom: 1em; }
form.issue-edit textarea { height: 18.5em; }
form.custom .custom.dropdown { border-radius: 3px; }
form.custom .label-item label { font-size: 0.6em; line-height: 200%; }
form.custom .label-item .custom.checkbox { border-radius: 3px; }
form.custom .label-item .custom.checkbox.checked:before { content: '\2713'; }
@media only screen and (min-width: 768px) { .avatars.columns { padding-right: 0; text-align: right; } }
.iconize+.description { display: none; }
.iconize.with-text { padding: 0 0.25em; }
.icon-back { opacity: 0.1; display: inline-block; padding: 0.5em 0.25em 1em 0; float: right; font-size: 1.5em; border: 0; }
.icon-back:hover, .icon-back:focus { opacity: 0.8; border: 0; }
.issue-head, .issue-head h4 { color: #999; font-weight: lighter; }
.issue-head h4 strong { color: #666; }
.issue-state>div { text-align: center; padding: 0.75em 1em; color: #fff; font-weight: bold; border-radius: 3px; }
.issue-state .open { background: #3b9900; }
.issue-state .expired { background: #24a1c7; }
.issue-state .closed { background: #e9e9e9; color: #333; }
.issue-thread { padding-bottom: 1em; }
.issue-thread>* { margin-bottom: 1em; margin-left: 4em; }
.issue-thread .issue-main .avatar { float: left; margin: -1em auto auto -5em; }
.issue-main+.button-row { margin-top: 1em; }
.issue-main .issue-actions { margin: auto -1em; padding: 0.5em; color: #333; }
.issue-main .issue-actions .issue-due { line-height: 200%; }
.issue-main .issue-actions form, .issue-main .issue-actions form.custom .custom.dropdown { margin: 0; }
.issue-meta { font-size: 0.6em; color: #666; }
.issue-meta > .right { margin-left: 0.5em; }
.issue-content {
	zoom: 80%; padding-top: 1em;
	:last-child { margin-bottom: 0; }
	img { border: 1px #aaa solid; border-radius: 3px; margin: 1em 0.25em; }
}
form.issue-set-label { margin: 0; }
form.issue-set-label .side-nav { padding: 0 0 0.25em 0; }
form.issue-set-label>*:last-child { margin-bottom: 0; }
.issue-labels .dropdown.button { margin-top: -0.05em; }
.issue-labels .label {
	width: 100%; line-height: 150%; font-weight: normal; text-align: left;
	&:first-child { border-radius: 3px 3px 0 0; }
	&:last-child { border-radius: 0 0 3px 3px; }
}
ul.profile-meta {
	list-style: none;
	li { padding-left: 20px; text-indent: -20px; word-break: break-all; }
	.iconize { color: #555; margin: 0 4px 0 0; }
}
.issue-thread .issue-history .issue-state { float: left; margin: 0 1em auto -5.25em; font-size: 0.6em; }
.login-panel form { padding: 1em 1.5em 0 1.5em; border: solid #e5e5e5; border-width: 0 1px 1px 1px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.login-panel h3 { background: #24a1c7; color: #fff; font-size: 1.125em; margin: 0; padding: 0.5em; border: solid #1c7e9c; border-width: 1px 1px 0 1px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
span.postfix.with-button { font-size: 0.8125em; }
input[type="file"], input[type="checkbox"], input[type="radio"], select { margin-right: 0.25em; }
.has-tip:not(span), .has-tip:not(span):hover { border: 0; }
.text ol, .text ul { padding-left: 1.5em; }