[SITCON] 歡迎加入 SITCON ！
=====
<div style="font-size: 1.2em; font-family: 'Droid Sans', Helvetica, Arial, sans-serif; padding: 1em 0.75em; background: #2d7500;">
	<a href="{{ site_url }}" style="color: #fff; text-decoration: none;">SITCON</a>
</div>
<p>Hi {{ receiver.profile.title }} {{ receiver.profile.name }},</p>
<p>歡迎加入 SITCON 的行列！SITCON 學生計算機年會致力於降低學生接觸資訊領域的門檻、提供彼此交流與發表研究的平台，同時冀望能夠因此而使學生的聲音被聽見。在開始之前，請容許我們協助您完成相關流程：</p>
<ol>
	<li>您於<a href="{{ site_url }}">行政系統</a>的帳號 <strong>{{ receiver.username }}</strong> 已經啟用，臨時密碼為 <em>{{ password }}</em>。請於<a href="{{ site_url }}{% url 'users:login' %}">登入</a>後立即<a href="{{ site_url }}{% url 'users:change_password' %}">修改您的密碼</a>。</li>
	<li>為了方便聯繫及讓其他工作人員認識你，請至<a href="{{ site_url }}{% url 'users:edit' receiver.username %}">個人檔案</a>填寫您的聯絡電話、系級等資訊。如有茹素、特殊病史、或須指定緊急聯絡人，可填寫於備註欄。</li>
</ol>
<p>再次歡迎您加入 SITCON，讓我們共同努力、期待年會圓滿成功！祝<br/>萬事順心</p>
<p></p>
<p>{{ sender.profile.title }} {{ sender.profile.name }}</p>
<hr/>
<p style="font-size: 0.8em;">本信件由 SITCON 行政系統自動寄送。</p>
