{% load usermeta %}
[SITCON][行政組] 重設行政系統密碼
=====
<div style="font-size: 1.2em; font-family: 'Droid Sans', Helvetica, Arial, sans-serif; padding: 1em 0.75em; background: #2d7500;">
	<a href="{{ site_url }}" style="color: #fff; text-decoration: none;">SITCON</a>
</div>
<p>Hi {{ receiver.profile.title }} {{ receiver|get_name }},</p>
<p>忘記密碼了？別擔心，請使用以下連結重設您的密碼：</p>
<p><a href="{{ site_url }}{% url 'users:reset_password_confirm' uidb64 token %}">{{ site_url }}{% url 'users:reset_password_confirm' uidb64 token %}</a></p>
<p>如果您沒有重設密碼的需求，請忽略此連結，或聯絡行政組以取得協助。祝<br/>萬事順心</p>
<p></p>
<p>SITCON 行政組</p>
<hr/>
<p style="font-size: 0.8em;">本信件由 SITCON 行政系統自動寄送。</p>
