{{ site.title }} 重設系統密碼
=====
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
body,table{
  font-size: 14px;
}
sup {
  font-size:10px;
}
    </style>
  </head>
  <body>
    <table align="center" width="500" cellpadding="2" cellspacing="2" style="border: 2px #ded solid; border-radius: 10px; padding: 10px; font-family: Arial; background-color: #fff; margin-top: 15px;">
      <tr>
        <td style="color: green; font-family: Arial; font-weight: bold;"><a href="http://coscup.org/"><img src="http://coscup.org/2012-theme/assets/coscup.png" height="50px" align="right"></a>
          <p style="font-size: 16px;">{{ site.name }}<br>
          <a href="http://coscup.org/" style="color:green;text-decoration:none;">coscup.org</p>
        </td>
      </tr>
      <tr>
        <td style="color: #466; text-align: justify;">
          <p>Hi <b>{{ receiver.profile.name }}</b> 您好：</p>
          <p style="margin-left: 10px;">忘記密碼了？別擔心，請使用以下連結重設您的密碼：</p>
        <div style="text-align: justify; padding: 10px;">
          <p><ul><li><a href="{{ site.url }}{% url 'users:reset_password_confirm' uid token %}">{{ site.url }}{% url 'users:reset_password_confirm' uid token %}</a></li></ul></p>
        </div>
        </td>
      </tr>
      <tr>
        <td style="color:#466;text-align:justify;">
          <p style="margin-left:10px;">如果您沒有重設密碼的需求，請忽略此連結，或聯絡行政組以取得協助。</p>
        </td>
      </tr>
      <tr>
        <td style="color: #575; text-align: center; font-size: 12px;">{{ site.title }} 行政組</td>
      </tr>
    </table>
  </body>
</html>

