{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<title>{% block title %} ‧ {{ site_title }}{% endblock %}</title>
	<meta name="description" content="SITCON 夏令營行政系統。關於學生計算機年會，請造訪 http://sitcon.org/。" />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{% static 'css/app.css' %}" />
	<link rel="shortcut icon" href="{% static 'img/SITCON.ico' %}" />
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}" />
	<script src="{% static 'js/vendor/custom.modernizr.js' %}"></script>
{% block headers %}
{% endblock %}
</head>
<body>
{% block content_block %}
{% endblock %}

	<script>
	document.write('<script src=' +
	('__proto__' in {} ? '{% static 'js/vendor/zepto.min.js' %}' : '{% static 'js/vendor/jquery.min.js' %}') +
	'><\/script>')
	</script>
	<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
	<script>
	  $(document).foundation();
	</script>
	<script src="{% static 'js/roboconf.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
