{% extends 'core/master.html' %}
{% block title %}通訊錄{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-1 columns">
		<a class="right iconize icon-back has-tip" href="{% url 'users:list' %}" title="回到人員列表" data-tooltip></a>
	</div>
	<div class="large-{{ show_details|yesno:'11,9' }} columns">
		<h3>{{ site.title }} 工作人員通訊錄</h3>
		<table class="user-contacts main">
			<thead><tr>
				<th>職稱</th>
				<th>名稱</th>
				{% if show_details %}
				<th>本名</th>
				<th>學校</th>
				{% endif %}
				{% if authorized %}
				<th>電話</th>
				{% endif %}
				<th>Email</th>
			</tr></thead>
			<tbody>
			{% for u in users %}
			<tr>
				<td>{{ u.profile.title }}</td>
				<td>
					<img class="avatar small" src="{{ u.profile.avatar }}" alt="{{ u.profile.name }}" />
					<a href="{% url 'users:profile' u.username %}">{{ u.profile.name }}</a>
				</td>
				{% if show_details %}
				<td>{{ u.last_name }} {{ u.first_name }}</td>
				<td>{{ u.profile.school }} {{ u.profile.grade|truncatechars:12 }}</td>
				{% endif %}
				{% if authorized %}
				<td>{% if u.profile.phone %}<a href="tel:{{ u.profile.phone }}">{{ u.profile.phone }}</a>{% endif %}</td>
				{% endif %}
				<td>{{ u.email|urlize }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		<ul class="user-export-options inline-list">
			<li>匯出：</li>
			<li><a href="{% url 'users:export' 'html' %}">HTML</a></li>
			<li><a href="{% url 'users:export' 'csv' %}">CSV</a></li>
			<li><a href="{% url 'users:export' 'xml' %}">XML</a></li>
			<li><a href="{% url 'users:export' 'vcard' %}">vCard</a></li>
		</ul>
	</div>
	{% if not show_details %}
	<div class="large-2 columns">
	</div>
	{% endif %}
</div>
{% endblock %}
