{% extends 'core/master.html' %}
{% block title %}新增人員{{ block.super }}{% endblock %}
{% block content %}
{% if status %}
<div class="radius {% if status == 'success' %}secondary{% else %}alert{% endif %} alert-box" data-alert>
	{% if status == 'success' %}人員新增成功。
	{% else %}儲存個人檔案時發生錯誤，請修正下列欄位。{% endif %}
	<a href="#" class="close">&times;</a>
</div>
{% endif %}
<div class="row">
	<div class="large-1 avatars columns">
		<a class="right iconize icon-back has-tip" href="{% url 'users:list' %}" title="回到人員列表" data-tooltip></a>
	</div>
	<div class="large-8 columns">
		<form action="{% url 'users:create' %}" method="POST" class="profile-main">
		{% csrf_token %}
			<div class="row field-header">
				<div class="small-12 columns">
					<h6>帳號資訊</h6>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns {% if 'username' in errors %}error{% endif %}">
					<input type="text" name="username" id="username" maxlength="30" placeholder="帳號" required />
					{% if 'invalid_username' in errors %}<small>無效的帳號名稱。</small>
					{% elif 'username_already_taken' in errors %}<small>帳號名稱已被使用。</small>{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="text" name="display_name" maxlength="16" placeholder="顯示名稱" />
				</div>
			</div>
			<div class="row">
				<div class="small-8 columns">
					<input type="text" name="title" maxlength="16" placeholder="職稱" />
				</div>
				<div class="small-4 columns">
					<label class="inline"><a href="#" id="groups_label" class="has-tip" title="設定權限" data-tooltip data-dropdown="groups_dropdown" data-default-content="選取組別">選取組別</a></label>
					<ul id="groups_dropdown" class="f-dropdown with-ticks" data-dropdown-content>
					{% for c, groups in categories %}
						<h6>{{ c.name }}</h6>
						{% for g in groups %}
						<li><label for="group_{{ g.id }}_checkbox"><input type="checkbox" class="group_checkbox" id="group_{{ g.id }}_checkbox" name="groups" value="{{ g.id }}" data-label="{{ g.name }}" />{{ g.name }}</label></li>
						{% endfor %}
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns {% if 'email' in errors %}error{% endif %}">
					<input type="text" name="email" placeholder="電子郵件信箱" required />
					{% if 'invalid_email' in errors %}<small>無效的電子郵件地址。</small>
					{% elif 'email_already_taken' in errors %}<small>電子郵件信箱已被使用。</small>{% endif %}
				</div>
			</div>
			<div class="row field-header">
				<div class="small-12 columns">
					<h6>個人檔案資訊</h6>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<input type="text" name="last_name" maxlength="30" placeholder="姓" />
				</div>
				<div class="small-6 columns">
					<input type="text" name="first_name" maxlength="30" placeholder="名" />
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<input type="text" name="school" maxlength="30" placeholder="學校" />
				</div>
				<div class="small-6 columns">
					<input type="text" name="grade" maxlength="30" placeholder="系所" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="text" name="phone" placeholder="電話號碼" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<textarea name="comment" placeholder="備註"></textarea>
				</div>
			</div>
			<div class="row field-header">
				<div class="small-12 columns">
					<label for="welcome_letter_checkbox"><input type="checkbox" id="welcome_letter_checkbox" name="send_welcome_letter" checked /> 寄送歡迎信給使用者</label>
				</div>
			</div>
			<div class="button-row">
				<div class="right">
					<input type="submit" class="radius button" name="submit" value="新增人員" />
				</div>
			</div>
		</form>
	</div>
	<div class="large-3 columns text">
		<h5>登記流程</h5>
		<ol>
			<li>組長要求行政組登記工作人員。</li>
			<li>透過行政系統建立帳號並賦予該組權限。</li>
			<li>系統將自動寄送歡迎信，邀請加入郵件清單並設定新密碼。</li>
		</ol>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	$('.group_checkbox').change(function() {
		var sel = [];
		$('.group_checkbox:checked').each(function (index,e) {
			sel.push($.trim($(e).data('label')));
		});
		$('#groups_label').text(sel.length ? sel.join('、') : $('#groups_label').data('default-content'));
	});
});
</script>
{% endblock %}
