{% extends 'core/master.html' %}
{% block title %}編輯 ‧ {{ u.profile.name }}{{ block.super }}{% endblock %}
{% block content %}
{% if status %}
<div class="radius {% if status == 'success' %}secondary{% else %}alert{% endif %} alert-box" data-alert>
	{% if status == 'success' %}{% if user == u %}你的{% endif %}個人檔案已經儲存。
	{% else %}儲存個人檔案時發生錯誤，請修正下列欄位。{% endif %}
	<a href="#" class="close">&times;</a>
</div>
{% endif %}
<div class="row">
	<div class="large-1 avatars columns">
		<img class="avatar medium has-tip" src="{{ u.profile.avatar }}" alt="{{ u.profile.name }}" title="請至 Gravatar 替換{% if user == u %}你的{% endif %}大頭照" data-tooltip />
		<a class="right iconize icon-back has-tip" href="{% url 'users:list' %}" title="回到人員列表"></a>
	</div>
	<div class="large-8 columns">
		<form action="{% url 'users:edit' u.username %}" method="POST" class="profile-main">
		{% csrf_token %}
			<div class="row">
				<div class="small-12 columns {% if 'username' in errors %}error{% endif %}">
				{% if perms.auth.change_user %}
					<input type="text" name="username" id="username" maxlength="30" placeholder="帳號" value="{{ u.username }}" required />
					{% if 'invalid_username' in errors %}<small>無效的帳號名稱。</small>
					{% elif 'username_already_taken' in errors %}<small>帳號名稱已被使用。</small>{% endif %}
				{% else %}
					<h4><span class="has-tip" title="請聯繫行政組以更改你的登入帳號">{{ u.username }}</span></h4>
				{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-8 columns">
				{% if perms.auth.change_user %}
					<input type="text" name="title" maxlength="16" placeholder="職稱" value="{{ u.profile.title }}" />
				{% else %}
					<h5>{{ u.profile.title }}</h4>
				{% endif %}
				</div>
				<div class="small-4 columns">
				{% with groups=u.groups.all %}
				{% if perms.auth.change_user %}
					<label class="inline"><a href="#" id="groups_label" class="has-tip" title="設定權限" data-tooltip data-dropdown="groups_dropdown" data-default-content="選取組別">{% for g in groups %}{{ g.name }}{% if not forloop.last %}、{% endif %}{% endfor %}</a></label>
					<ul id="groups_dropdown" class="f-dropdown with-ticks" data-dropdown-content>
					{% for c, c_groups in categories.items %}
						<h6>{{ c.name }}</h6>
						{% for g in c_groups %}
						<li><label for="group_{{ g.id }}_checkbox"><input type="checkbox" class="group_checkbox" id="group_{{ g.id }}_checkbox" name="groups" value="{{ g.id }}" data-label="{{ g.name }}" {% if g in groups %}checked{% endif %} />{{ g.name }}</label></li>
						{% endfor %}
					{% endfor %}
					</ul>
				{% else %}
					{% for g in groups %}{{ g.name }}{% if not forloop.last %}、{% endif %}{% endfor %}
				{% endif %}
				{% endwith %}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="text" name="display_name" maxlength="16" placeholder="顯示名稱" value="{{ u.profile.display_name }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<input type="text" name="last_name" maxlength="30" placeholder="姓" value="{{ u.last_name }}" />
				</div>
				<div class="small-6 columns">
					<input type="text" name="first_name" maxlength="30" placeholder="名" value="{{ u.first_name }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<input type="text" name="school" maxlength="30" placeholder="學校" value="{{ u.profile.school }}" />
				</div>
				<div class="small-6 columns">
					<input type="text" name="grade" maxlength="30" placeholder="系所" value="{{ u.profile.grade }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns {% if 'email' in errors %}error{% endif %}">
					<input type="text" name="email" placeholder="電子郵件信箱" value="{{ u.email }}" required />
					{% if 'invalid_email' in errors %}<small>無效的電子郵件地址。</small>
					{% elif 'email_already_taken' in errors %}<small>電子郵件信箱已被使用。如須協助，請聯繫行政組。</small>{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="text" name="phone" placeholder="電話號碼" value="{{ u.profile.phone }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<textarea name="comment" placeholder="備註">{{ u.profile.comment }}</textarea>
				</div>
			</div>
			<div class="button-row">
				<div class="right">
					<input type="submit" class="radius button" name="submit" value="更新" />
				</div>
			</div>
		</form>
	</div>
	<div class="large-3 columns">
		<ul class="side-nav users-actions">
		{% if user == u %}
			<li><a href="{% url 'users:change_password' %}"><span class="icon-password iconize"></span> 變更密碼</a></li>
		{% elif perms.auth.change_user %}
			<li><a href="{% url 'users:reset_password' %}?id={{ u.id }}"><span class="icon-password iconize"></span> 重設密碼</a></li>
			<li>
				<a href="#" onClick="$('#active-form').submit();"><span class="icon-{{ u.is_active|yesno:'deactivate,activate' }} iconize"></span> {{ u.is_active|yesno:'停用帳號,啟用帳號' }}</a>
				<form id="active-form" action="{% url 'users:edit' u.username %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="action" value="{{ u.is_active|yesno:'deactivate,activate' }}" />
				</form>
			</li>
		{% endif %}
		</ul>
	</div>
</div>
{% endblock %}
{% block scripts %}
{% if perms.auth.change_user %}
<script type="text/javascript">
$(document).ready(function() {
	$('.group_checkbox').change(function() {
		var sel = [];
		$('.group_checkbox:checked').each(function (index,e) {
			sel.push($.trim($(e).data('label')));
		});
		$('#groups_label').text(sel.length ? sel.join('、') : $('#groups_label').data('default-content'));
	});
});
</script>
{% endif %}
{% endblock %}
