{% extends 'core/master.html' %}
{% block title %}資料填寫 ‧ {{ u.profile.name }}{{ block.super }}{% endblock %}
{% block content %}
{% if status %}
<div class="radius {% if status == 'success' %}secondary{% else %}alert{% endif %} alert-box" data-alert>
	{% if status == 'success' %}{% if user == u %}你的{% endif %}個人檔案已經儲存。
	{% else %}儲存個人檔案時發生錯誤，請修正下列欄位。{% endif %}
	<a href="#" class="close">&times;</a>
</div>
{% endif %}
<form action="{% url 'users:edit fancy' u.username %}" method="POST" enctype="multipart/form-data" class="profile-main">
<div class="row">
	<div class="large-1 avatars columns">
		<img class="avatar medium has-tip" src="{{ u.profile.avatar }}" alt="{{ u.profile.name }}"
		title="{% if not u.profile.photo %}請至 Gravatar 替換{% if user == u %}你的{% endif %}大頭照{% endif %}" {% if not u.profile.photo %}data-tooltip{% endif %} />
		<a class="right iconize icon-back has-tip" href="{% url 'users:list' %}" title="回到人員列表"></a>
	</div>
	<div class="large-8 columns">
		{% csrf_token %}
			<div class="divider"></div>
			<div class="row">
				<div class="small-12 columns">
					<h4>{{ u.profile.title }} <span class="has-tip" title="請聯繫行政組以更改你的登入帳號">{{ u.username }}</span></h4>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<h5>顯示名稱 <small>我們該如何稱呼您呢？</small></h5>
					<input type="text" name="display_name" maxlength="16" placeholder="顯示名稱" value="{{ u.profile.display_name }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<h5>姓名 <small>您的本名，我們不會告訴任何人！</small></h5>
				</div>
				<div class="small-6 columns">
					<input type="text" name="last_name" maxlength="30" placeholder="姓" value="{{ u.last_name }}" />
				</div>
				<div class="small-6 columns">
					<input type="text" name="first_name" maxlength="30" placeholder="名" value="{{ u.first_name }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<h5>學校/系級 <small>您目前就讀的學校全稱！</small></h5>
				</div>
				<div class="small-6 columns">
					<input type="text" name="school" maxlength="30" placeholder="學校" value="{{ u.profile.school }}" />
				</div>
				<div class="small-6 columns">
					<input type="text" name="grade" maxlength="30" placeholder="系所" value="{{ u.profile.grade }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<h5>電話號碼 <small>不包含連字號 (eg: 0987-654-321)</small></h5>
					<input type="text" name="phone" placeholder="電話號碼" value="{{ u.profile.phone }}" />
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<h5>出發地<br><small>填寫縣市即可！</small></h5>
				</div>
				<div class="small-4 columns">
					<h5>衣服尺寸<br><small>您的<a href="https://lh3.googleusercontent.com/dyR2NXgez5We2PMbFs2ldgCi7VBZw_xJe7N9vGHtSOwE0xPrHz3mtemOT_OJaQVq1OhI">衣服尺寸</a>是？</small></h5>
				</div>
				<div class="small-4 columns">
					<h5>飲食習慣<br><small>若有會過敏的食材，請在備註欄位補充！</small></h5>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<select name="residence">
						<option disabled>所在地</option>
						{% if not u.profile.residence %}<option value="" selected>（所在地）</option>{% endif %}
						{% for r in options.residence %}<option{% if u.profile.residence == r %} selected{% endif %}>{{ r }}</option>{% endfor %}
					</select>
				</div> <div class="small-4 columns">
					<select name="shirt_size">
						<option disabled>衣服尺寸</option>
						{% if not u.profile.shirt_size %}<option value="" selected>（衣服尺寸）</option>{% endif %}
						{% for s in options.shirt_size %}<option{% if u.profile.shirt_size == s %} selected{% endif %}>{{ s }}</option>{% endfor %}
					</select>
				</div>
				<div class="small-4 columns">
					<select name="diet">
						<option disabled>飲食習慣</option>
						{% if not u.profile.diet %}<option value="" selected>（飲食習慣）</option>{% endif %}
						{% for d in options.diet %}<option{% if u.profile.diet == d %} selected{% endif %}>{{ d }}</option>{% endfor %}
					</select>
				</div>

			</div>
			<div class="row">
				<div class="small-12 columns">
					<h5>個人介紹</h5>
					<textarea name="bio" placeholder="個人介紹" maxlength="300">{{ u.profile.bio }}</textarea>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<h5>備註 <small>有其他想要告訴我們的，請補充在這邊唷 ( ´ ▽ ` )ﾉ</small></h5>
					<textarea name="comment" placeholder="備註">{{ u.profile.comment }}</textarea>
				</div>
			</div>
			<div class="button-row">
				<div class="right">
					<input type="submit" class="radius button" name="submit" value="登錄" />
				</div>
			</div>
	</div>
	<div class="large-3 columns">
		<div class="row">
			<div class="small-12 columns {% if 'photo' in errors %}error{% endif %}">
				<h6>個人頭像</h6>
				<input type="file" name="photo" />
				{% if 'photo_too_large' in errors %}<small>影像檔案太大了，伺服器表示悲傷</small>
				{% elif 'invalid_photo' in errors %}<small>影像格式太奇怪，伺服器表示悲傷</small>{% endif %}
			</div>
		</div>
	</div>
</div>
</form>

<form class="hide" id="active-form" action="{% url 'users:edit fancy' u.username %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="action" value="{{ u.is_active|yesno:'deactivate,activate' }}" />
</form>

{% endblock %}
{% block scripts %}
{% if perms.auth.change_user %}
<script type="text/javascript">
$(document).ready(function() {
	$('.group_checkbox').change(function() {
		var sel = [];
		$('.group_checkbox:checked').each(function (index,e) {
			sel.push($.trim($(e).data('label')));
		});
		$('#groups_label').text(sel.length ? sel.join('、') : $('#groups_label').data('default-content'));
	});
});
</script>
{% endif %}
{% endblock %}
