{% extends 'core/master.html' %}
{% load usermeta %}
{% block title %}人員{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-9 columns">
		<ul class="user-list large-block-grid-4">
		{% for u in users %}
			<li class="user-item">
				<a href="{% url 'users:profile' u.username %}">
					<img class="avatar medium" src="{{ u.email|get_avatar:'#' }}" alt="{{ u|get_name }}" />
					<h4>{{ u|get_name }}</h4>
					<h4 class="subheader">{{ u.profile.title }}</h4>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="large-3 columns main-side-nav">
		<ul class="side-nav users-actions">
			{% if perms.auth.add_user %}<li><a href="{% url 'users:create' %}"><span class="icon-add iconize"></span> 新增人員</a></li>{% endif %}
			<li><a href="{% url 'users:edit' user.id %}"><span class="icon-profile iconize"></span> 編輯個人檔案</a></li>
			<li><a href="{% url 'users:contacts' %}"><span class="icon-contacts iconize"></span> 檢視通訊錄</a></li>
		</ul>
		<div class="divider"></div>
		{% for c in categories %}
			{% if c.is_visible or user.is_staff %}
			<h5>篩選{{ c.name }}</h5>
			<ul class="side-nav">
			{% for g in c.groups.all %}
				<li{% if filter == g.id %} class="active"{% endif %}><a href="{% url 'users:list' %}?g={{ g.id }}">{{ g.name }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}