{% extends 'core/master.html' %}
{% block title %}人員{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-9 columns">
		<ul class="user-list large-block-grid-4">
		{% for u, privileged in users %}
			<li class="user-item">
				<a href="{% url 'users:profile' u.username %}">
					<img class="avatar medium" src="{{ u.profile.avatar }}" alt="{{ u.profile.name }}" />
					<div><h4 style="display: inline-block;">{{ u.profile.name }}</h4> {% if privileged or u == user %}<a href="{% url 'users:edit' u.username %}"><span class="icon-edit iconize" ></span></a>{% endif %}</div>
					<h4 class="subheader">{{ u.profile.title }}</h4>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="large-3 columns main-side-nav">
		<ul class="side-nav users-actions">
			{% if perms.auth.add_user %}<li><a href="{% url 'users:reg_list_token' %}"> 登錄系統</a></li>
			<li><a href="{% url 'users:create' %}"><span class="icon-add iconize"></span> 新增人員</a></li>{% endif %}
			<li><a href="{% url 'users:edit' user.username %}"><span class="icon-profile iconize"></span> 編輯個人檔案</a></li>
			<li><a href="{% url 'users:contacts' %}?{{ query_string }}"><span class="icon-contacts iconize"></span> 檢視通訊錄</a></li>
		</ul>
		<div class="divider"></div>
		{% for c, groups in categories.items %}
			{% if c.is_visible or user.is_staff %}
			<h5>篩選{{ c.name }}</h5>
			<ul class="side-nav">
			{% for g in groups %}
				<li{% if g.id in filters %} class="active"{% endif %}><a href="{% url 'users:list' %}?g={{ g.id }}">{{ g.name }}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endfor %}
		{% if perms.auth.add_user or perms.auth.change_user %}
			<h5>異次元<span class="has-tip" title="供行政組維護帳號使用">™</span></h5>
			<ul class="side-nav">
				<li{% if 'disabled' in filters %} class="active"{% endif %}><a href="{% url 'users:list' %}?find=disabled">停用的帳號</a></li>
				<li{% if 'non_staff' in filters %} class="active"{% endif %}><a href="{% url 'users:list' %}?find=non_staff">非工作人員帳號</a></li>
				<li{% if 'all' in filters %} class="active"{% endif %}><a href="{% url 'users:list' %}?find=all">所有帳號</a></li>
			</ul>
		<div class="divider"></div>
			<h5>匯出</h5>
			<ul class="side-nav">
				<li><a href="{% url 'users:export' 'html' %}?{{ params }}">HTML</a></li>
				<li><a href="{% url 'users:export' 'csv' %}?{{ params }}">CSV</a></li>
				<li><a href="{% url 'users:export' 'xml' %}?{{ params }}">XML</a></li>
				<li><a href="{% url 'users:export' 'vcard' %}?{{ params }}">vCard</a></li>
			</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
