{% extends 'core/master.html' %}
{% block title %}登入{{ block.super }}{% endblock %}\
{% block content %}
{% if error %}
<div class="radius {% if error == 'invalid_login' %}alert{% else %}secondary{% endif %} alert-box" data-alert>
	{% if error == 'invalid_login' %}不正確的使用者或密碼。
	{% elif error == 'account_disabled' %}帳號已停用。請聯繫行政組以取得協助。
	{% elif error == 'reset_successful' %}密碼重設成功。請使用新密碼重新登入。
	{% else %}發生不明錯誤，請回報行政組處理。（{{ error }}）{% endif %}
	<a href="#" class="close">&times;</a>
</div>
{% endif %}
{% if status == 'success' %}
<div class="radius secondary alert-box" data-alert>
	註冊成功，臨時密碼已經寄到您的信箱，登入之後可以新增投稿。
</div>
{% endif %}
<div class="row">
	<div class="large-6 small-9 small-centered columns">
		<div class="login-panel">
			<h3>登入</h3>
			<form class="users-login" action="{% url 'users:login' %}" method="POST">
			{% csrf_token %}
				<div class="row"><div class="large-12 columns">
					<label for="username">使用者名稱</label>
					<input type="text" id="username" name="username" size="30" maxlength="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<label for="password">密碼
						<a href="{% url 'users:reset_password' %}">（忘記密碼？）</a>
					</label>
					<input type="password" id="password" name="password" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<input type="submit" name="submit" value="登入" class="right secondary radius button" />
				</div></div>
				{% if redirect_url %}
				<input type="hidden" name="next" value="{{ redirect_url }}" />
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
