{% extends 'core/master.html' %}
{% block title %}{{ u.profile.name }}{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-3 columns">
		<img class="avatar large" src="{{ u.profile.avatar }}" alt="{{ u.profile.name }}" />
		<h4>{{ u.profile.name }}</h4>
		<h5 class="subheader">{{ u.profile.title }}</h5>
		<ul class="profile-meta">
			{% if u.profile.organization %}<li><span class="icon-school iconize"></span> {{ u.profile.organization }}</li>{% endif %}
			{% if u.profile.phone %}<li><span class="icon-phone iconize"></span> {{ u.profile.phone }}</li>{% endif %}
			{% if u.email %}<li><span class="icon-email iconize"></span> {{ u.email }}</li>{% endif %}
		</ul>
		<div class="profile-actions">
		{% if privileged and not u == user %}
			<a href="{% url 'users:edit' u.username %}" class="small secondary radius button">編輯</a>
		{% endif %}
		</div>
	</div>
	<div class="large-5 columns">
		<h5 class="section-header">個人介紹</h5>
		<p>{{ u.profile.bio|linebreaks }}</p>
		<ul class="issue-list">
		</ul>
	</div>
	<div class="large-4 columns">
		{% if show_detail %}
		<h5 class="section-header">個人資料細節</h5>
		<table class="main">
			<!-- TODO icons -->
			<tr>
				<td>年滿 20 歲</td>
				<td>{% if u.profile.twenty %}<span class="icon-checkmark iconize"></span>是{% else %}<span class="icon-cross iconize"</span>否{% endif %}</td>
			</tr>
			<tr>
				<td>居住地</td>
				<td>{{ u.profile.residence }}</td>
			</tr>
			<tr>
				<td>衣服尺寸</td>
				<td>{{ u.profile.shirt_size }}</td>
			</tr>
			<tr>
				<td>飲食</td>
				<td>{{ u.profile.diet }}</td>
			</tr>
			<tr>
				<td>交通補助</td>
				<td>{% if u.profile.transportation_aid %}{{ u.profile.transportation_fee }}{% else %}不需要{% endif %}</td>
			</tr>
			<tr>
				<td>慶功宴</td>
				<td>{% if u.profile.cel_dinner %}<span class="icon-checkmark iconize"></span>參加{% else %}<span class="icon-cross iconize"></span>不參加{% endif %}</td>
			</tr>
			<tr>
				<td>感謝狀</td>
				<td>{% if u.profile.certificate %}<span class="icon-checkmark iconize"></span>需要{% else %}<span class="icon-cross iconize"></span>不需要{% endif %}</td>
			</tr>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
