{% extends 'core/master.html' %}
{% block title %}註冊{{ block.super }}{% endblock %}\
{% block content %}
{% if error_token %}
<div class="row">
    <div class="large-6 small-9 small-centered columns">
        <div class="login-panel">{{error_token}}</div>
    </div>
</div>
{% else %}
{% for e in error %}
<div class="radius alert alert-box" data-alert>
    {% if e == 'error_username'%}這個帳號不給用，換個帳號吧。
    {% elif e == 'error_email' %}Email 怪怪的，再檢查一下吧。
    {% endif %}
	<a href="#" class="close">&times;</a>
</div>
{% endfor %}
<div class="row">
	<div class="large-6 small-9 small-centered columns">
		<div class="login-panel">
		    <h3>{{ title }} 工作人員登錄</h3>
			<form class="users-login" action="{% url 'users:reg_form' token %}" method="POST">
			{% csrf_token %}
				<div class="row"><div class="large-12 columns">
					<label for="username">使用者名稱</label>
					<input type="text" id="username" name="username" size="30" maxlength="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<label for="email">電子郵件信箱</label>
					<input type="text" id="email" name="email" size="30" maxlength="30" required />
				</div></div>
				<div class="row"><div class="large-6 columns">
					<label for="password1">密碼</label>
					<input type="password" id="password1" name="password1" size="30" required />
				</div><div class="large-6 columns">
					<label for="password2">確認密碼</label>
					<input type="password" id="password2" name="password2" size="30" required />
				</div></div>
				<div class="row"><div class="large-12 columns">
					<input type="submit" name="submit" value="註冊" class="right secondary radius button" />
				</div></div>
			</form>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
