{% extends 'core/master.html' %}
{% block title %}新增人員{{ block.super }}{% endblock %}
{% block content %}
{% if status == 'error' %}
<div class="radius alert alert-box" data-alert>
	儲存個人檔案時發生錯誤，請修正下列欄位。
	<a href="#" class="close">&times;</a>
</div>
{% endif %}
<div class="row">
	<div class="large-8 columns">
		<form action="{% url 'users:submitter_create' %}" method="POST" enctype="multipart/form-data" class="profile-main">
		{% csrf_token %}
			<div class="row field-header">
				<div class="small-12 columns">
					<h6>帳號資訊</h6>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns {% if 'username' in errors %}error{% endif %}">
					<label for="username">帳號，僅用作投稿系統登入使用</label>
					<input type="text" name="username" id="username" maxlength="30" placeholder="帳號" value="{{ saved.username }}" required />
					{% if 'invalid_username' in errors %}<small>無效的帳號名稱。</small>
					{% elif 'username_already_taken' in errors %}<small>帳號名稱已被使用。</small>{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<label for="display_name">暱稱（顯示名稱），公開於講者海報及網站，如未填寫，將使用本名</label>
					<input type="text" name="display_name" maxlength="16" placeholder="暱稱" value="{{ saved.display_name }}" required />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns {% if 'email' in errors %}error{% endif %}">
					<input type="text" name="email" placeholder="電子郵件信箱" value="{{ saved.email }}" required />
					{% if 'invalid_email' in errors %}<small>無效的電子郵件地址。</small>
					{% elif 'email_already_taken' in errors %}<small>電子郵件信箱已被使用。</small>{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<h6>個人頭像 <small>請提供解析度 1000x1000 以上之 JPG/PNG 圖檔</small></h6>
					<input type="file" name="photo" required />
				</div>
			</div>
			<div class="row field-header">
				<div class="small-12 columns">
					<h6>個人檔案資訊</h6>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<input type="text" name="last_name" maxlength="30" placeholder="姓" value="{{ saved.last_name }}" required />
				</div>
				<div class="small-6 columns">
					<input type="text" name="first_name" maxlength="30" placeholder="名" value="{{ saved.first_name }}" required />
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<input type="text" name="school" maxlength="30" placeholder="學校/單位" value="{{ saved.school }}" required />
				</div>
				<div class="small-6 columns">
					<input type="text" name="grade" maxlength="30" placeholder="系級/職稱" value="{{ saved.grade }}" required />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="text" name="phone" placeholder="電話號碼" value="{{ saved.phone }}" required />
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<textarea name="bio" placeholder="個人介紹" maxlength="300" value="{{ saved.bio }}" required></textarea>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<input type="text" name="departure" placeholder="出發地，平時生活的地區，必填，僅供大會調查統計" maxlength="1000" value="{{ saved.departure }}" required />
				</div>
				<!-- TODO 出發地、大頭照-->
			</div>
			<div class="row">
				<div class="small-12 columns">
					<textarea name="comment" placeholder="備註">{{ saved.comment }}</textarea>
				</div>
			</div>
			<div class="button-row">
				<div class="right">
					<input type="submit" class="radius button" name="submit" value="註冊" />
				</div>
			</div>
		</form>
	</div>
	<div class="large-4 columns text">
		<h5>投稿流程</h5>
		<ol>
			<li>註冊新帳號</li>
			<li>系統將自動寄送歡迎信，邀請加入郵件清單並設定新密碼</li>
			<li>登入、送出投稿</li>
		</ol>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	$('.group_checkbox').change(function() {
		var sel = [];
		$('.group_checkbox:checked').each(function (index,e) {
			sel.push($.trim($(e).data('label')));
		});
		$('#groups_label').text(sel.length ? sel.join('、') : $('#groups_label').data('default-content'));
	});
});
</script>
{% endblock %}
