{% extends 'core/safe_master.html' %}
{% load staticfiles %}
{% block title %}要求無效{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-6 small-9 small-centered has-quote columns">
		<img class="situation" src="{% static 'img/situations/handler_400.jpg' %}" alt="400 Bad Request">
		<h3 class="text-center">噢噢，我們收到了奇怪的資料</h3>
		<p class="quote">
			{% spaceless %}
			{% with i='1111222334'|make_list|random %}
				{% ifequal i '1' %}<q>待填寫</q>{% endifequal %}
				{% ifequal i '2' %}<q>待填寫</q>{% endifequal %}
				{% ifequal i '3' %}<q>待填寫</q>{% endifequal %}
				{% ifequal i '4' %}<q>待填寫</q>{% endifequal %}
			{% endwith %}
			{% endspaceless %}
			送進來的要求有點奇怪，或許是瀏覽器的問題？
			{% if error %}<em>({{ error }})</em>{% endif %}
			<br>如果使用行政系統的 API，何不<a href="https://github.com/sitcon-tw/staff.sitcon.org/blob/master/API.md">讀了文件</a>再試試？
		</p>
	</div>
</div>
{% endblock %}
