{% extends 'core/master.html' %}
{% load staticfiles %}
{% block title %}拒絕存取{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-6 small-9 small-centered has-quote columns">
		<img class="situation" src="{% static 'img/situations/handler_403.jpg' %}" alt="403 Permission Denied">
		<h3 class="text-center">啊嗚，拒絕存取！</h3>
		<p class="quote">
			{% spaceless %}
			{% with i='1111122234'|make_list|random %}
				{% ifequal i '1' %}<q>待填寫</q>{% endifequal %}
				{% ifequal i '2' %}<q>待填寫</q>{% endifequal %}
				{% ifequal i '3' %}<q>待填寫</q>{% endifequal %}
				{% ifequal i '4' %}<q>待填寫</q>{% endifequal %}
			{% endwith %}
			{% endspaceless %}
			如果這是誤會，何不<a href="https://github.com/sitcon-tw/staff.sitcon.org/issues/new">回報問題</a>給行政組？
		</p>
	</div>
</div>
{% endblock %}
