{% extends 'core/master.html' %}
{% load staticfiles %}
{% block title %}找不到頁面{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-6 small-9 small-centered has-quote columns">
		<img class="situation" src="{% static 'img/situations/handler_404.jpg' %}" alt="404 Page Not Found">
		<h3 class="text-center">噢噢，找不到頁面</h3>
		<p class="quote">
			{% spaceless %}
			{% with i='1111122234'|make_list|random %}
				{% ifequal i '1' %}<q>蛤？你說丹丹跑掉了？</q>{% endifequal %}
				{% ifequal i '2' %}<q>這是丹丹的平板，可是丹丹呢？</q>{% endifequal %}
				{% ifequal i '3' %}<q>404 找不到丹丹啦QWQ</q>{% endifequal %}
				{% ifequal i '4' %}<q>你說這是誰的平板？<del>我不認識耶！</del></q>{% endifequal %}
			{% endwith %}
			{% endspaceless %}
			如果這是誤會，何不<a href="https://github.com/sitcon-tw/staff.sitcon.org/issues/new">回報問題</a>給行政組？
		</p>
	</div>
</div>
{% endblock %}
