{% extends 'core/safe_master.html' %}
{% load staticfiles %}
{% block title %}伺服器錯誤{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-6 small-9 small-centered has-quote columns">
		<img class="situation" src="{% static 'img/situations/handler_500.jpg' %}" alt="500 Internal Server Error">
		<h3 class="text-center">嗚呃，發生問題了！</h3>
		<p class="quote">
			{% spaceless %}
			{% with i='1112223334'|make_list|random %}
				{% ifequal i '1' %}<q>人生就像資料庫，你永遠不知道下一個炸掉的是哪個欄位。</q>{% endifequal %}
				{% ifequal i '2' %}<q>乖乖放過期，神仙也甭醫。</q>{% endifequal %}
				{% ifequal i '3' %}<q>處理完這筆資料，我就要回老家結婚了。</q>{% endifequal %}
				{% ifequal i '4' %}<q>⋯⋯橘子，你也在裡面嗎？</q>{% endifequal %}
			{% endwith %}
			{% endspaceless %}
			不過別擔心，苦逼的行政組應該已經在<a href="https://github.com/sitcon-tw/roboconf/issues">解決問題</a>了！<wbr>請別拍打螢幕，稍等幾分鐘，再重新整理看看。
		</p>
	</div>
</div>
{% endblock %}
