{% extends 'core_main.html' %}
{% block title %}SITCON{% endblock %}
{% load usermeta %}
{% block content %}
<div class="row">
	{% if user.is_authenticated %}
	<div class="large-3 columns">
		<img class="avatar large" src="{{ user.email|get_avatar:400 }}" alt="{{ user|get_name }}" />
		<h4>{{ user|get_name }}</h4>
		<h5 class="subheader">{{ user.profile.title }}</h5>
	</div>
	<div class="large-5 columns">
		<h5><a href="{% url 'issues:assigned' user.id %}">待辦清單</a></h5>
		<hr/>
		<ul class="issue-list">
		{% for issue in issues %}
			<li class="issue-entry">
				<div class="issue-id">#{{ issue.id }}</div>
				<h4>
					<span class="issue-icon iconize icon-{% if issue.is_open %}{{ issue.is_expired|yesno:'issue-expired,issue-open' }}{% else %}issue-closed{% endif %}"></span>
					<a href="{% url 'issues:detail' issue.id %}">{{ issue.title }}</a>
					<span class="labels">{% for label in issue.labels.all %}
						<span class="radius label" style="background: #{{ label.color }};">{{ label.name }}</span>
					{% endfor %}</span>
				</h4>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="large-4 columns">
		<h5>聚會概覽</h5>
		<hr/>
		<p></p>
	</div>
	{% else %}
	<div class="large-6 small-9 small-centered columns">
		<h4 class="text-center">
			必須<a href="{% url 'users:login' %}">登入</a>才能存取此系統。<br/>
			<small>新進工作人員請向行政組索取帳號。</small>
		</h4>
	</div>
	{% endif %}
</div>
{% endblock %}