{% extends 'core_base.html' %}
{% load usermeta %}
{% load staticfiles %}
{% block content_block %}
<div class="contain-to-grid fixed">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"><h1><a href="/"><span class="logo">SITCON</span></a></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>功能表</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="left">
				{% if user.is_authenticated %}
				<li><a href="{% url 'docs:main' %}">文件</a></li>
				<li><a href="{% url 'issues:list' %}">待辦事項</a></li>
				<li><a href="#">聚會</a></li>
				<li><a href="{% url 'agenda:main' %}">時間表</a></li>
				<li><a href="{% url 'users:list' %}">人員</a></li>
				{% if perms.notifications.add_message %}
				<li><a href="{% url 'notifications:list' %}">通知</a></li>
				{% endif %}
				{% endif %}
			</ul>
			<ul class="right">
				{% if user.is_authenticated %}
				<li class="has-dropdown">
					<a href="#">
						<img class="avatar small" src="{{ user.email|get_avatar:'#' }}" alt="{{ user|get_name }}" />
						{{ user|get_name }}
					</a>
					<ul class="dropdown">
						<li><label>{{ user.last_name }} {{ user.first_name }}</label></li>
						<li><a href="{% url 'users:edit' user.id %}">帳號設定</a></li>
						{% if user.is_staff %}<li><a href="/backend/">系統設定</a></li>{% endif %}
						<li class="divider"></li>
						<li><a href="{% url 'issues:create' %}">回報問題</a></li>
						<li><a href="{% url 'users:logout' %}">登出</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="{% url 'users:login' %}">登入</a></li>
				{% endif %}
			</ul>
		</section>
	</nav>
</div>
<div class="container row page-content">
	<div class="large-12 columns">
{% block content %}{% endblock %}
	</div>
</div>
{% endblock %}