{% extends 'core/master.html' %}
{% block title %}{{ site.title }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-3 columns">
		<img class="avatar large" src="{{ user.profile.avatar }}" alt="{{ user.profile.name }}" />
		<h4>{{ user.profile.name }}</h4>
		<h5 class="subheader">{{ user.profile.title }}</h5>
	</div>
	<div class="large-9 columns">
		<h5 class="section-header"><a href="{% url 'submission:list' %}">我的投稿</a></h5>
		<ul class="issue-list">
		{% for submission in submissions %}
			<li class="issue-entry">
				<h4>
					{% if expired %}
					<a href="{% url 'submission:view' submission.id %}">{{ submission.title }}</a>
					{% else %}
					<a href="{% url 'submission:edit' submission.id %}">{{ submission.title }}</a>
					{% endif %}
				</h4>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
