{% extends 'core_main.html' %}
{% block title %}待辦事項{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-3 columns main-side-nav">
		<ul class="side-nav filter">
			<li{% if mode == 'list' %} class="active"{% endif %}><a href="{% url 'issues:list' %}">所有議題</a></li>
			<li{% if mode == 'assigned' %} class="active"{% endif %}><a href="{% url 'issues:assigned' user.id %}">分派給我</a></li>
			<li{% if mode == 'created' %} class="active"{% endif %}><a href="{% url 'issues:created' user.id %}">由我建立</a></li>
			<li{% if mode == 'starred' %} class="active"{% endif %}><a href="{% url 'issues:starred' user.id %}">已加星號</a></li>
		</ul>
		<div class="divider"></div>
		<h5>標籤</h5>
		<ul class="side-nav">
		{% for label in labels %}
			<li class="label-item"><a href="{{ current_url }}?label={{ label.id }}"><span class="color" style="background: #{{ label.color }};">&nbsp;</span> {{ label.name }}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="large-9 columns">
		<div class="row"><div class="large-12 columns button-row">
			<div class="left">
				<ul class="radius button-group">
					<li><a href="{{ current_url }}?state=open" class="small secondary button {{ is_open|yesno:'active,' }}">待處理</a></li>
					<li><a href="{{ current_url }}?state=closed" class="small secondary button {{ is_open|yesno:',active' }}">已結案</a></li>
				</ul>
			</div>
			<div class="left">
				<a class="small radius secondary dropdown button" data-dropdown="sort-dropdown" href="#">
					<span>排序：</span>
					{% if sorting == 'created' %}{% if is_asc %}最舊{% else %}最新{% endif %}{% elif sorting == 'due' %}{% if is_asc %}最先到期{% else %}最晚到期{% endif %}{% endif %}
				</a>
				<ul id="sort-dropdown" class="f-dropdown" data-dropdown-content>
					<li><a href="{{ current_url }}?sort=created&amp;direction=desc">最新</a></li>
					<li><a href="{{ current_url }}?sort=created&amp;direction=asc">最舊</a></li>
					<li><a href="{{ current_url }}?sort=due&amp;direction=asc">最先到期</a></li>
					<li><a href="{{ current_url }}?sort=due&amp;direction=desc">最晚到期</a></li>
				</ul>
			</div>
			<div class="right">
				<a class="small radius button" href="{% url 'issues:create' %}">提交議題</a>
			</div>
		</div></div>
		<ul class="issue-list">
		{% for issue in issues %}
			<li class="issue-entry">
				<div class="issue-id">#{{ issue.id }}</div>
				<h4>
					<span class="issue-icon iconize icon-{% if issue.is_open %}{{ issue.is_expired|yesno:'issue-expired,issue-open' }}{% else %}issue-closed{% endif %}"></span>
					<a href="{% url 'issues:detail' issue.id %}">{{ issue.title }}</a>
					<span class="labels">{% for label in issue.labels.all %}
						<span class="radius label" style="background: #{{ label.color }};">{{ label.name }}</span>
					{% endfor %}</span>
				</h4>
				<div><a href="#">{{ issue.creator.username }}</a> 於 {{ issue.creation_time|timesince }}前建立</div>
			</li>
		{% empty %}
			<p>尚無議題。</p>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}