{% extends 'core_main.html' %}
{% load users %}
{% load markdown %}
{% block title %}{{ issue.title }} ‧ 議題 #{{issue.id}}{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-12 columns issue-head">
		<a class="left iconize icon-back has-tip" href="{% url 'issues:list' %}" title="回到待辦事項"></a>
		<h4 class="right">議題 <strong>#{{ issue.id }}</strong></h4>
	</div>
</div>
<div class="row">
	<div class="large-10 columns issue-thread">
		<div class="issue-main">
			<img class="avatar medium" src="{{ issue.creator.email|get_avatar:'#' }}" alt="{{ issue.creator.username }}" />
			<div class="issue-meta"><a href="#">{{ issue.creator.username }}</a> 於 {{ issue.creation_time|timesince }}前建立</div>
			<h4>{{ issue.title }}</h4>
			<div class="issue-actions">
				<div class="row">
					<div class="large-4 small-6 columns">
					{% if perms.issues.assign_issue %}
						<form class="issue-assign custom" id="assign-form" action="{% url 'issues:detail' issue.id %}" method="POST">
						{% csrf_token %}
							<input type="hidden" name="action" value="assign" />
							<div class="assignee-field">
								<select id="issue-assignee" name="assignee">
									<option disabled>將此議題指派給</option>
								{% if issue.assignee %}
									{% for u in users %}
									<option value="{{ u.id }}" {% ifequal u.id issue.assignee.id %}selected{% endifequal %}>{{ u.username }}</option>
									{% endfor %}
									<option value="">（未指派）</option>
								{% else %}
									{% for u in users %}
									<option value="{{ u.id }}">{{ u.username }}</option>
									{% endfor %}
									<option value="" selected>（未指派）</option>
								{% endif %}
								</select>
							</div>
						</form>
					{% endif %}
					</div>
					<div class="large-4 hide-for-small columns"></div>
					<div class="large-4 small-6 columns issue-due">
					{% if issue.due_time %}
						<span class="icon-clock iconize"></span>
						期限：{{ issue.due_time|date:"Y-m-d H:i" }}
					{% endif %}
					</div>
				</div>
			</div>
			<div class="issue-content">
				{{ issue.content|markdown }}
			</div>
		</div>
		{% for history in issue.histories.all %}
		{% if history.mode == '.' %}
		<div class="issue-main">
			<img class="avatar medium" src="{{ history.user.email|get_avatar:'#' }}" alt="{{ history.user.username }}" />
			<div class="issue-meta"><a href="#">{{ history.user.username }}</a> 發表評論<span class="right">於 {{ history.timestamp|timesince }}前</span></div>
			<div class="issue-content">
				{{ history.content|markdown }}
			</div>
		</div>
		{% elif history.mode == 'C' or history.mode == 'R' %}
		<div class="issue-history state-change">
			<span class="issue-state">{% if history.mode == 'C' %}
				<div class="closed">已結案</div>{% else %}
				<div class="open">提出復議</div>{% endif %}
			</span>
			<img class="avatar small" src="{{ history.user.email|get_avatar:'#' }}" alt="{{ history.user.username }}" />
			<span class="issue-meta">
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前{% if history.mode == 'C' %}將此議題結案{% else %}對此議題提出復議{% endif %}
			</span>
		</div>
		{% else %}
		<div class="issue-history">
			<img class="avatar small" src="{{ history.user.email|get_avatar:'#' }}" alt="{{ history.user.username }}" />
			<span class="issue-meta">
			{% if history.mode == 'A' %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前將此議題指派給 <a href="#">{{ history.content_as_user.username }}</a>
			{% elif history.mode == 'a' %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前撤銷此議題指派的人員
			{% elif history.mode == 'D' %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前{% if history.content %}為此議題設定了期限：{{ history.content }}{% else %}撤銷此議題的期限{% endif %}
			{% elif history.mode == '+' %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前為此議題套用標籤 {% with label=history.content_as_label %}<span class="radius label" style="background: #{{ label.color }};">{{ label.name }}</span>{% endwith %}
			{% elif history.mode == '-' %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前從此議題移除標籤 {% with label=history.content_as_label %}<span class="radius label" style="background: #{{ label.color }};">{{ label.name }}</span>{% endwith %}
			{% elif history.mode == 'M' %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前將此議題合併至 <a href="{% url 'issues:detail' history.content %}">#{{ history.content }}</a>
			{% elif history.mode == 'I' %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前將 <a href="{% url 'issues:detail' history.content %}">#{{ history.content }}</a> 合併至此議題
			{% else %}
				<a href="#">{{ history.user.username }}</a> 於 {{ history.timestamp|timesince }}前對此議題進行了系統無法理解的操作
			{% endif %}
			</span>
		</div>
		{% endif %}{% endfor %}
		{% if perms.issues.comment_issue or perms.issues.toggle_issue %}
		<form class="issue-comment" id="comment-form" action="{% url 'issues:detail' issue.id %}" method="POST">
		{% csrf_token %}
			{% if perms.issues.comment_issue %}
			<div class="issue-main">
				<img class="avatar medium" src="{{ user.email|get_avatar:'#' }}" alt="{{ user.username }}" />
				<div class="row"><div class="large-12 columns">
					<textarea name="content" id="issue-content" placeholder="寫下留言" cols="30" rows="40"></textarea>
				</div></div>
			</div>
			{% endif %}
			<div class="button-row">
				<div class="right">
					<input type="hidden" name="action" id="action-field" value="comment" />
					{% if perms.issues.toggle_issue %}
					<input type="button" class="secondary radius button" id="toggle-button" data-action="{{ issue.is_open|yesno:'結案,復議' }}" data-action-with-comment="{{ issue.is_open|yesno:'留言並結案,留言並復議' }}" value="{{ issue.is_open|yesno:'結案,復議' }}" />
					{% endif %}
					{% if perms.issues.comment_issue %}
					<input type="submit" class="radius button" id="comment-button" value="留言" />
					{% endif %}
				</div>
			</div>
		</form>
		{% endif %}
	</div>
	<div class="large-2 columns page-side-nav">
		<div class="issue-state">{% if issue.is_open %}{% if issue.is_expired %}
			<div class="expired">已逾時</div>{% else %}
			<div class="open">待處理</div>{% endif %}{% else %}
			<div class="closed">已結案</div>{% endif %}
		</div>
		<div class="divider"></div>
		<div class="issue-actions">
			<form class="issue-star row collapse" id="star-form" action="{% url 'issues:detail' issue.id %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="action" value="toggle-star" />
				<div class="small-9 columns">
					<a id="star-button" class="radius secondary small prefix button has-tip" title="{{ has_starred|yesno:'取消,接收' }}來自此議題的通知">
						<span class="iconize {{ has_starred|yesno:'icon-unstar,icon-star' }}"></span> {{ has_starred|yesno:'取消星號,星號標記' }}
					</a>
				</div>
				<div class="small-3 columns">
					<span class="radius postfix with-button">{{ issue.starring.count }}</span>
				</div>
			</form>
		</div>
		<div class="issue-labels">
			{% if perms.issues.label_issue %}
			<div class="button-holder right">
				<a class="tiny secondary radius dropdown button" data-dropdown="tags-dropdown" href="#"><span class="icon-tags iconize"></span></a>
				<div id="tags-dropdown" class="f-dropdown content" data-dropdown-content>
					<form class="issue-set-label custom" id="set-label-form" action="{% url 'issues:detail' issue.id %}" method="POST">
					{% csrf_token %}
						<h6>為此議題套用標籤</h6>
						<input type="hidden" name="action" value="set-label" />
						<ul class="side-nav">
						{% for label in labels %}
							<li class="label-item"><label for="labels-{{ label.id }}"><input type="checkbox" id="labels-{{ label.id }}" name="labels" value="{{ label.id }}" style="display: none;" {% if label in issue.labels.all %}checked{% endif %} /><span class="color custom checkbox iconize" style="background: #{{ label.color }};">&nbsp;</span> {{ label.name }}</li>
						{% endfor %}
						</ul>
						<input type="submit" class="tiny secondary radius button expand" id="set-label-button" value="更新標籤" />
					</form>
				</div>
			</div>
			{% endif %}
			<h6>標籤</h6>
			{% for label in issue.labels.all %}
			<div class="radius label" style="background: #{{ label.color }};">{{ label.name }}</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	$('#issue-content').on('focus keyup change', function() {
		var has_value = ($(this).val().length > 0);
		var toggle_button = $('#toggle-button');

		toggle_button.val(toggle_button.data(has_value ? 'action-with-comment' : 'action'));
	});

	$('#toggle-button').click(function() {
		$('#action-field').val('toggle-state');
		$('#comment-form').submit();
	});

	$('#issue-assignee').on('change', function() {
		$('#assign-form').submit();
	});

	$('#star-button').click(function() {
		$('#star-form').submit();
	});
});
</script>
{% endblock %}
