{% extends 'core_main.html' %}
{% load users %}
{% block title %}待辦事項{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-12 columns issue-head">
		<a class="left iconize icon-back has-tip" href="{% url 'issues:list' %}" title="回到待辦事項"></a>
		<h4 class="right">議題 <strong>#{{ issue.id }}</strong></h4>
	</div>
</div>
<div class="row">
	<div class="large-10 columns issue-thread">
		<div class="issue-main">
			<img class="avatar medium" src="{{ issue.creator.email|get_avatar:'144' }}" alt="{{ issue.creator.username }}" />
			<div class="issue-meta"><a href="#">{{ issue.creator.username }}</a> 於 {{ issue.creation_time|timesince }}前建立</div>
			<h4>{{ issue.title }}</h4>
			<div class="issue-content">
				{{ issue.content|linebreaks }}
			</div>
		</div>
		{% if user.is_authenticated %}
		<form class="issue-comment" action="#" method="POST">
			<div class="issue-main">
				<img class="avatar medium" src="{{ user.email|get_avatar:'144' }}" alt="{{ user.username }}" />
				<div class="row"><div class="large-12 columns">
					<textarea name="content" placeholder="寫下留言" cols="30" rows="40" required></textarea>
				</div></div>
			</div>
			<div class="button-row">
				<input type="submit" class="radius button right" name="submit" value="留言" />
				<input type="submit" class="secondary radius button right" name="submit" value="結案" />
			</div>
		</form>
		{% endif %}
	</div>
	<div class="large-2 columns page-side-nav">
		<div class="issue-state">{% if issue.is_open %}{% if issue.is_expired %}
			<div class="expired">已逾時</div>{% else %}
			<div class="open">待處理</div>{% endif %}{% else %}
			<div class="closed">已結案</div>{% endif %}
		</div>
		<div class="divider"></div>
		<h6>標籤</h6>
		{% for label in issue.labels.all %}
		<div class="radius label" style="background: #{{ label.color }};">{{ label.name }}</div>
		{% endfor %}
	</div>
</div>
{% endblock %}