{% extends 'core_main.html' %}
{% block title %}待辦事項{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-3 columns">
		<ul class="side-nav">
			<li><a href="{% url 'issues:list' %}">所有議題</a></li>
			<li><a href="{% url 'issues:assigned' %}">分派給我</a></li>
			<li><a href="{% url 'issues:created' %}">由我建立</a></li>
			<li><a href="{% url 'issues:starred' %}">已加星號</a></li>
		</ul>
		<hr/>
		<h5>標籤</h5>
		<ul class="side-nav">
		{% for label in labels %}
			<li><span style="display: inline-block; width: 1em; height: 1em; background: #{{ label.color }};">&nbsp;</span> {{ label.name }}</li>
		{% endfor %}
		</ul>
	</div>
	<div class="large-9 columns">
		<ul class="button-group" style="float: left;">
			<li><a href="{% url 'issues:list' %}?state=open" class="small radius secondary button">待處理</a></li>
			<li><a href="{% url 'issues:list' %}?state=closed" class="small radius secondary button">已結案</a></li>
		</ul>
		<a class="small radius dropdown button" href="#" style="float: left;">排序：最新</a>
		<ul id="sort-dropdown" class="f-dropdown" data-dropdown-content>
			<li><a href="{% url 'issues:list' %}?sort=created&amp;direction=desc">最新</a></li>
			<li><a href="{% url 'issues:list' %}?sort=created&amp;direction=asc">最新</a></li>
			<li><a href="{% url 'issues:list' %}?sort=due&amp;direction=desc">最先到期</a></li>
			<li><a href="{% url 'issues:list' %}?sort=due&amp;direction=asc">最晚到期</a></li>
		</ul>
		<a class="small radius button" href="{% url 'issues:create' %}" style="float: right;">提交議題</a>
		<div class="radius panel" style="clear: both;">
		{% for issue in issues %}
			<h5><a href="{% url 'issues:detail' issue.id %}">{{ issue.title }}</a></h5>
		{% empty %}
			<p>尚無議題。</p>
		{% endfor %}
		</div>
	</div>
</div>
<h1>待辦事項</h1>
{% endblock %}