{% extends 'core_main.html' %}
{% load users %}
{% load staticfiles %}
{% block title %}待辦事項{{ block.super }}{% endblock %}
{% block content %}
<form class="issue-edit custom" action="{% url 'issues:create' %}" method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="large-1 avatars columns">
			<img class="avatar medium" src="{{ user.email|get_avatar:'144' }}" alt="{{ user.username }}" />
			<a class="right iconize icon-back has-tip" href="{% url 'issues:list' %}" title="回到待辦事項"></a>
		</div>
		<div class="large-8 columns">
			<div class="issue-main">
				<div class="row"><div class="large-12 columns">
					<input type="text" name="title" size="30" maxlength="128" placeholder="標題" required />
				</div></div>
				{% if users %}{# TODO: Use permissions #}
				<div class="row">
					<div class="large-4 small-6 columns">
						<select id="assignee" name="assignee">
							<option disabled>將此議題指派給</option>
							{% for u in users %}
							<option value="{{ u.id }}">{{ u.username }}</option>
							{% endfor %}
							<option value="" selected>（未指派）</option>
						</select>
					</div>
					<div class="large-4 small-2 columns"></div>
					<div class="small-4 columns">
						<input type="text" name="due_time" maxlength="10" placeholder="期限（年-月-日）" />
					</div>
				</div>
				{% endif %}
				<div class="row"><div class="large-12 columns">
					<textarea name="content" placeholder="寫下留言" cols="30" rows="40" required></textarea>
				</div></div>
			</div>
			<div>
				<input type="submit" class="button radius right" name="submit" value="提交新議題" />
			</div>
		</div>
		<div class="large-3 columns">
			<h5>新增標籤</h5>
			<ul class="side-nav">
			{% for label in labels %}
				<li class="label-item"><label for="labels[]"><input type="checkbox" id="labels[]" style="display: none;" /><span class="color custom checkbox iconize" style="background: #{{ label.color }};">&nbsp;</span> {{ label.name }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</form>
{% endblock %}