{% load usermeta %}
{% load markdown %}
Re: [#{{ issue.id }}] {{ issue.title }}
=====
<div style="font-size: 0.8em; padding: 0.5em; border: 1px solid #f0f0f0; border-radius: 3px;">
	<a href="{{ site_url }}{% url 'users:profile' sender.id %}">{{ sender|get_name }}</a>
	{% if old_labels %}
		已自此議題移除標籤：{% for label in old_labels %}<b>{{ label.name }}</b>{{ forloop.last|yesno:',、' }}{% endfor %}
	{% endif %}
	{% if old_labels and new_labels %}，同時{% endif %}
	{% if new_labels %}
		已對此議題套用標籤：{% for label in new_labels %}<b>{{ label.name }}</b>{{ forloop.last|yesno:',、' }}{% endfor %}。
	{% endif %}
	<a href="{{ site_url }}{% url 'issues:detail' issue.id %}">檢視</a>
</div>
<hr/>
<p style="font-size: 0.8em;">本信件由 SITCON 行政系統自動寄送，請勿直接回覆此信件。</p>
