{% load usermeta %}
{% load markdown %}
{{ new_topic|yesno:',Re: ' }}[#{{ issue.id }}] {{ issue.title }}
=====
<div style="font-size: 0.8em; padding: 0.5em; border: 1px solid #f0f0f0; border-radius: 3px;">
	<a href="{{ site_url }}{% url 'users:profile' sender.id %}">{{ sender|get_name }}</a>
	{% if issue.assignee %}
		已將此議題指派給 {% if issue.assignee == receiver %}你{% else %}<a href="{{ site_url }}{% url 'users:profile' issue.assignee.id %}">{{ issue.assignee|get_name }}</a>{% endif %}。
	{% else %}
		已撤銷此議題指派的人員。
	{% endif %}
	<a href="{{ site_url }}{% url 'issues:detail' issue.id %}">檢視</a>
</div>
<div style="margin: 0.5em auto;">
	{{ issue.content|markdown }}
</div>
<hr/>
<p style="font-size: 0.8em;">本信件由 SITCON 行政系統自動寄送，請勿直接回覆此信件。</p>
