{% load markdown %}
{{ new_topic|yesno:',Re: ' }}[#{{ issue.id }}] {{ issue.title }}
=====
<h1 style="font-size: 1.5rem;">#{{ issue.id }}: {{ issue.title }}</h1>
<div style="margin: 0.5em auto;">
{% if comment %}
	{{ comment|markdown }}
{% elif issue.is_open %}
	{{ sender.profile.name }}
	對 <a href="{{ site_url }}{% url 'issues:detail' issue.id %}">#{{ issue.id }}</a> 提出復議。
{% else %}
	{{ sender.profile.name }}
	已將 <a href="{{ site_url }}{% url 'issues:detail' issue.id %}">#{{ issue.id }}</a> 結案。
{% endif %}
</div>
<hr/>
<p style="font-size: 0.8em;">在 {{ site_name }}<a href="{{ site_url }}{% url 'issues:detail' issue.id %}">檢視此議題</a>。</p>
