{% load markdown %}{% load dateutils %}
[#{{ issue.id }}] {{ issue.title }}
=====
<h1 style="font-size: 1.5em;">#{{ issue.id }}: {{ issue.title }}</h1>
<div style="font-size: 0.6em;">
	{{ sender.profile.name }} 於 {{ issue.creation_time|date:"H:i" }} 建立{% if issue.assignee %}，指派給 <a href="{{ site.url }}{% url 'users:profile' issue.assignee.username %}">{{ issue.assignee.profile.name }}</a>{% endif %}{% if issue.due_time %}，於 {{ issue.due_time|date:"Y-m-d H:i" }} 到期{% endif %}
</div>
<div style="margin: 0.5em auto;">
	{{ issue.content|markdown }}
</div>
<hr/>
<p style="font-size: 0.8em;">在 {{ site.name }}<a href="{{ site.url }}{% url 'issues:detail' issue.id %}">檢視此議題</a>。</p>
