{% load markdown %}
Re: [#{{ issue.id }}] {{ issue.title }}
=====
<h1 style="font-size: 1.5rem;">#{{ issue.id }}: {{ issue.title }}</h1>
<div style="margin: 0.5em auto;">
{{ sender.profile.name }}
{% if removed_labels %}
	移除標籤
	{% for label in removed_labels %}<a href="{{ site_url }}{% url 'issues:list' %}?label={{ label.id }}" style="background: #{{ label.color }}; display: inline-block; padding: 0.2em 0.5em; margin: 0 0.25em;">「{{ label.name }}」</a>{{ forloop.last|yesno:',、' }}{% endfor %}
{% endif %}
{% if added_labels %}
	{{ removed_labels|yesno:'，同時,' }}套用標籤
	{% for label in added_labels %}<a href="{{ site_url }}{% url 'issues:list' %}?label={{ label.id }}" style="background: #{{ label.color }}; display: inline-block; padding: 0.2em 0.5em; margin: 0 0.25em;">「{{ label.name }}」</a>{{ forloop.last|yesno:',、' }}{% endfor %}。
{% endif %}
</div>
<hr/>
<p style="font-size: 0.8em;">在 {{ site_name }}<a href="{{ site_url }}{% url 'issues:detail' issue.id %}">檢視此議題</a>。</p>
