{% extends 'core_main.html' %}
{% load usermeta %}
{% block title %}通知{{ block.super }}{% endblock %}
{% block content %}
<div class="row">
	<div class="large-9 columns">
		<div>
		{% with c=messages.count %}
		{% if c > 0 %}
			<h3>{{ messages.count }} <small>封通知尚未寄出</small></h3>
			<table class="messages-list main">
				<thead>
					<tr><th>#</th><th>類型</th><th>收件者</th><th>標題</th></tr>
				</thead>
				<tbody>
				{% for m in messages %}
					<tr>
						<td>{{ m.id }}</td>
						<td>{% if m.method == m.SMS %}簡訊{% else %}電子郵件{% endif %}</td>
						<td>{{ m.receiver }}</td>
						<td>{{ m.subject }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		{% else %}
			<h3><small>通知全數寄出 :)</small></h3>
		{% endif %}
		{% endwith %}
		</div>
	</div>
	<div class="large-3 columns main-side-nav">
		<ul class="side-nav users-actions">
			<li><a href="{% url 'notifications:create' %}"><span class="icon-email iconize"></span> 寄送通知</a></li>
		</ul>
	</div>
</div>
{% endblock %}