img.logo { width: 80px; height: auto; }
img.avatar { border-radius: 3px; }
img.avatar.small { width: 1.6em; height: 1.6em; }
img.avatar.medium { max-width: 3.2em; max-height: 3.2em; }
img.avatar.large { border-radius: 6px; }
.top-bar-section>ul li.hover>a { background: #245e00; }
.top-bar-section img.avatar { margin: auto 0.25em; }
.align-center { text-align: center; }
.button span { font-weight: lighter; }
.button.secondary.active { background-color: #ddd; }
.button.secondary.active:hover, .button.secondary.active:focus { background-color: #d0d0d0; }
.button-row>.left>*, .button-row>.right>* { margin: auto 0.5em; float: left; }
.button-row>.left>*:first-child { margin-left: 0em; }
.button-row>.right>*:last-child { margin-right: 0em; }
.f-dropdown li a { line-height: 166.66%; }
.main-side-nav>.side-nav, h5+.side-nav { padding: 0; }
.main-side-nav .divider, .page-side-nav .divider { border: solid #ddd; border-width: 1px 0 0; margin: 0.5em auto 0.75em; }
.side-nav.filter { line-height: 225%; }
.side-nav>li { transition: background-color 200ms ease; padding: 0 0.5em; border-radius: 3px; }
.side-nav>li:hover, .side-nav>li:focus { background-color: #eee; }
.label-item .color { display: inline-block; width: 1em; height: 1em; vertical-align: middle; border-radius: 3px; }
.issue-list { color: #333; font-size: 0.6em; list-style: none; }
.issue-list>li { border: solid #e5e5e5; border-width: 0 1px 1px 1px; padding: 0.25em 0.5em; }
.issue-list>li:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; border-top-width: 1px; }
.issue-list>li:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.issue-list .issue-actions { background: #f6f6f6; }
.issue-actions .button { margin: 0 0.1em 0 0; }
.issue-list .issue-entry { padding: 0.25em 1em 0.75em 3em; color: #666; }
.issue-list .issue-entry:hover, .issue-list .issue-entry:focus { background-color: #f9f9f9; }
.issue-list .issue-id { float: right; color: #aaa; }
.issue-list h4 { font-size: 166.66%; margin: 0.2em auto; }
.issue-list .issue-icon { float: left; margin: 0.25em auto auto -1.5em; }
.issue-list .labels { margin: auto 0.25em; font-size: 60%; }
.issue-main { padding: 1em; border: 1px solid #e5e5e5; border-radius: 3px; }
form .issue-main { background: #f6f6f6; }
form.issue-edit>*>.columns, form.issue-edit .form-main { margin-bottom: 1em; }
form.issue-edit textarea { height: 18.5em; }
form.custom .custom.dropdown { border-radius: 3px; }
form.custom .label-item label { font-size: 0.6em; line-height: 200%; }
form.custom .label-item .custom.checkbox { border-radius: 3px; border: 0; }
form.custom .label-item .custom.checkbox.checked:before { color: #fff; text-shadow: #222 0 0 3px; }
@media only screen and (min-width: 768px) { .avatars.columns { padding-right: 0; text-align: right; } }
.iconize+.description { display: none; }
.iconize.with-text { padding: 0 0.25em; }
.icon-back { opacity: 0.1; display: inline-block; padding: 0.5em 0.25em 1em 0; float: right; font-size: 1.5em; border: 0; }
.icon-back:hover, .icon-back:focus { opacity: 0.8; border: 0; }
.issue-head, .issue-head h4 { color: #999; font-weight: lighter; }
.issue-head h4 strong { color: #666; }
.issue-state>div { text-align: center; padding: 0.75em 1em; color: #fff; border-radius: 3px; }
.issue-state .open { background: #3b9900; }
.issue-state .expired { background: ##24a1c7; }
.issue-state .closed { background: #e9e9e9; color: #333; }
.issue-thread .issue-main { margin-left: 4em; }
.issue-thread>* { margin-bottom: 1em; }
.issue-thread .issue-main .avatar { float: left; margin: -1em auto auto -5em; }
.issue-thread .button-row { margin-top: 1em; }
.issue-meta { font-size: 0.6em; color: #666; }
.issue-content { font-size: 0.8em; }
.issue-content p { margin-bottom: 1em; }
