img.logo { width: 80px; height: auto; }
img.avatar { border-radius: 3px; }
img.avatar.small { width: 1.6em; height: 1.6em; }
img.avatar.large { border-radius: 6px; }
.top-bar-section img.avatar { margin: auto 0.25em; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.button span { font-weight: lighter; }
.button.secondary.active { background-color: #ddd; }
.button.secondary.active:hover, .button.secondary.active:focus { background-color: #d0d0d0; }
.button-row>* { margin: auto 0.5em; }
.button-row>*:first-child { margin-left: 0em; }
.button-row>*:last-child { margin-right: 0em; }
.label-item .color { display: inline-block; width: 1em; height: 1em; vertical-align: middle; border-radius: 3px; }
.side-nav>li { transition: background-color 300ms ease-out; border-radius: 3px; }
.side-nav>li:hover, .side-nav>li:focus { background-color: #eee; }
.main-side-nav>.side-nav>li { line-height: 200%; }
.issue-list { color: #333; font-size: 0.6em; list-style: none; }
.issue-list>li { border: 1px solid #e5e5e5; }
.issue-list>li:first-child { border-top-left-radius: 3px; border-top-right-radius: 3px; }
.issue-list>li:last-child { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.issue-list>li:hover, .issue-list>li:focus { background-color: #f9f9f9; }
.issue-list h5 { font-size: 166.66%; }
.issue-list .labels { margin: auto 0.25em; }
.issue-list .issue-id { text-align: right; }
.issue-list .divider, .main-side-nav .divider { border: solid #ddd; border-width: 1px 0 0; margin: 0.5em auto; }
